*{
    margin: 0;
    padding: 0;
    border: 0;
}
@font-face{
    font-family:lheader;
    src: url(imagenescontacto/Buried\ Hopper.ttf);
}
@font-face {
    font-family: lbody;
    src: url(imagenfooter/Montserrat-Regular.ttf);
}
@font-face {
    font-family: lfooter;
    src: url(imagenfooter/Belleza-Regular.ttf);
}
/*--------------------------------------------------------- CELULAR VERTICAL-------------------------------------------------------------
@media only screen and (max-width: 420px) {
    *{
        margin: 0;
        padding: 0;
        border: 0;
    }
    header{
        background-image: 100% center;
        background-position: 100% center;
        background-position-y: center;
        background-position-x: center ;
        float: center;
        object-fit: fill;
        width: 100%;
    }
    .loesc img{
        display: flex;
        position: absolute;
        width: 3.5em;
        top: 0.5em;
    }
    .titulo{
        padding-top: 9px;
        font-size: 30px;
        font-family: lheader;
        color: #FFFFFF;
        text-align: center;
    }
    body {
        width: 100%;
        font-family: lbody;
        margin: 0; 
        padding: 0; 
        overflow-x: hidden;
    }
    .columna{
        float:left;
        width: 40%;
        padding-right: -19px;
    }
    .columna1{
        float:left;
        width: 60%;
    }
    .fila::after{
        content:" ";
        clear: both;
        display: table;   
        margin-top: -24em;
    }
    
    .insttext, .telltext, .whatstext {
        position: relative;
        left: 110px;
        top: -5px;
        font-size: 20px;
    }
    .mailtext1, .mailtext2 {
        position: relative;
        left: 110px;
        top: -5px;
        font-size: 15px;
    }
    .tellimg, .mailimg, .instimg, .whatsimg {
        position: relative;
        left: 30px;
        top: 50px;
    }
    .ubic {
        margin-left: -6em;
        margin-right: 0em; /* Elimina el margen derecho para pantallas pequeñas *
        width: 100%; /* El contenedor ocupa todo el ancho de la pantalla 
        margin-top: 440px;
        margin-bottom: 30px;
    }

    .ubic iframe {
        width: 100%; /* El mapa ocupará todo el ancho del contenedor en pantallas pequeñas 
        height: 250px; /* Altura más pequeña para pantallas móviles 
        border: 0;
    }
    footer{
        background-color: #93b2d2;
        color: #000000;
        text-align: center;
        bottom:-1em;
        position: relative;
        height: 100px;;
        font-family: lfooter;
    }
    .filafoo {
        display: flex;
        flex-direction: column;
        align-items: center; 
        background-color: #93b2d2;
    }
    .columnafoo {
        width: 100%; 
        margin-bottom: 4em; 
        background-color: #93b2d2;
        
    }

    .logoimg img {
        width: 50px;
    }

    .logotext {
        font-size: 10px;
    }

    .titulofoo {
        font-size: 15px;
        font-weight: bold;
    }

    .contactos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contactos img {
        width: 30px;
        margin-bottom: 0.3em;
    }

    .teltext, .whattext, .instatext {
        font-size: 16px;
        margin-bottom: 0.3em;  
        margin-top:  -0.5em;
    }
    .correotext1, .correotext2 {
        font-size: 16px;
        margin-bottom: 0.3em;  
        margin-top:  -0.4em;
    }
    .mapatext  {
        font-size: 16px;
        margin-bottom: 0.3em; 
        margin-left: -4em;
        margin-top: -0.6em;
    }
    .instatext {
        margin-bottom: -4.5em;
    }

    .contador img {
        width: 200px;
        margin-top: 1em;
        text-align:center;
    }
    .copytext {
        font-size: 12px;
    }
}
*/
/*-------------------------------------------------------------------- TABLET ---------------------------------------------------------------*/
@media (min-width:421px) and (max-width:1299px){ 
    header{
        background-color: #2b2d9c;
        width: 100%;
        height: 100px;;
    }
    .loesc img{
        display: flex;
        position: absolute;
        width: 4em;
        top: 0.5em;
    }
    .titulo{
        padding-top: 8.5px;
        font-size: 35px;
        font-family: lheader;
        color: #FFFFFF;
        text-align: center;
    }
    body {
        width: 100%;
        font-family: lbody;
        margin: 0; 
        padding: 0; 
        overflow-x: hidden;
    }
    .columna{
        float:left;
        width: 40%;
        padding-right: -19px;
    }
    .columna1{
        float:left;
        width: 60%;
    }
    .fila::after{
        content:" ";
        clear: both;
        display: table;   
        margin-top: -24em;
    }
    
    .insttext, .telltext, .whatstext {
        position: relative;
        left: 110px;
        top: -5px;
        font-size: 20px;
    }
    .mailtext1, .mailtext2 {
        position: relative;
        left: 110px;
        top: -5px;
        font-size: 20px;
    }
    .tellimg, .mailimg, .instimg, .whatsimg {
        position: relative;
        left: 30px;
        top: 50px;
    }
    .ubic {
        margin-left: 0;
        margin-right: 0em; 
        margin-top: 440px;
        margin-bottom: 30px;
    }

    .ubic iframe {
        width: 100%; 
        height: 250px; 
        border: 0;
        text-align: center;
    }
    footer{
        background-color: #93b2d2;
        color: #000000;
        text-align: center;
        bottom:-1em;
        position: relative;
        height: 100px;;
        font-family: lfooter;
    }
    .filafoo {
        display: flex;
        flex-direction: column;
        align-items: center; 
        background-color: #93b2d2;
        font-family: lfooter;
    }
    .columnafoo {
        width: 100%; 
        text-align: center; 
        margin-bottom: 4em; 
        background-color: #93b2d2;
        font-family: lfooter;
        
    }

    .logoimg img {
        width: 50px;
    }

    .FOOTER {
        font-size: 20px;
        text-align: center;
        font-family: lfooter;
    }

    .titulofoo {
        font-size: 15px;
        font-weight: bold;
    }

    .contactos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contactos img {
        width: 30px;
        margin-bottom: 0.3em;
    }

    .teltext, .whattext, .instatext {
        font-size: 16px;
        margin-bottom: 0.3em;  
        margin-top:  -0.5em;
        font-family: lfooter;
    }
    .correotext1, .correotext2 {
        font-size: 16px;
        margin-bottom: 0.3em;  
        margin-top:  -0.4em;
        font-family: lfooter;
    }
    .mapatext  {
        font-size: 16px;
        margin-bottom: 0.3em; 
        margin-left: 0.4em;
        margin-top: -0.6em;
        font-family: lfooter;
    }
    .instatext {
        margin-bottom: -4.5em;
        font-family: lfooter;
    }

    .contador img {
        width: 200px;
        margin-top: 1em;
        text-align:center;
    }
}
/*----------------------------------------------------- Computadora -----------------------------------------------------------------------*/ 
@media (min-width:1300px) { 
    /*--------------- header ---------------------*/
    header{
        background-color: #2b2d9c;
        width: 100%;
        font-family: lheader;
    }
    .loesc img{
        display: flex;
        position: absolute;
        width: 7em;
        top: 0.5em;
    }
    .titulo{
        padding-top: 1em;
        font-size: 60px;
        font-family: lheader;
        color: #FFFFFF;
    }
    
    /*-------------------body----------------------*/
    body{ 
        width: 100%;
        font-family: lbody;
    }
    .columna{
        float:left;
        width: 40%;
        padding-right: -19px;
    }
    .columna1{
        float:left;
        width: 60%;
    }
    .fila::after{
        content:" ";
        clear: both;
        display: table;   
        margin-top: -24em;
    }
    .columna{
        float:left;
        width: 40%;
        padding-right: -19px;
    }
    .columna1{
        float:left;
        width: 60%;
    }
    .fila::after{
        content:" ";
        clear: both;
        display: table;   
        margin-top: -24em;
    }
    
    .insttext, .telltext, .whatstext, .mailtext1, .mailtext2 {
        position: relative;
        left: 250px;
        top: -5px;
        font-size: 30px;
    }
    .whatstext{
        position: relative;
        left: 250px;
        top: -5px;
        font-size: 30px;
    }
    .tellimg, .mailimg, .instimg, .whatsimg {
        position: relative;
        left: 150px;
        top: 50px;
    }
    .ubic {
        position: relative;
        align-self: center;
        margin-left: 300px; 
        margin-right: 1px; 
        margin-top: 75px; 
        margin-bottom: 50px; 
        width: 60%; 
    }
    

    .ubic iframe {
        width: 100%; 
        height: 500px; 
        border: 0; 
    }

    /*--------------footer-------------------------------*/
    footer{
        background-color: #93b2d2;
        color: #000000;
        text-align: center;
        bottom:-1em;
        position: relative;
        height: 22em;
        font-family: lfooter;
    }
    .columnafoo{
        float:left;
        width: 33%;
        padding-right: 1px;
    }
    .filafoo::after{
        content:" ";
        clear: both;
        display: table;   
        margin-top: 2em;
    }
    .logoimg{
        position: relative;
        top: 5em;
    }
    .logotext{
        position: relative;
        top: 90px;
        font-size: 20px;
    }
    .titulofoo{
        position: relative;
        top: 40px;
        font-size: 25px;
        font-weight: bold;
    }
    .mapaimg{
        position: relative;
        top: 45px;
        right: 130px;
    }
    .mapatext{
        position: relative;
        top: 20px;
        right: -20px;
    }
    .telimg{
        position: relative;
        top: 40px;
        right: 130px;
    }
    .teltext{
        position: relative;
        top: 10px;
        right: 50px;
    }
    .whatimg{
        position: relative;
        top: 30px;
        right: 130px;
    }
    .whattext{
        position: relative;
        top: 2px;
        right: 30px;
    }
    .correoimg{
        position: relative;
        top: 20px;
        right: 130px;
    }
    .correotext1{
        position: relative;
        top: -18px;
        right: -8px;
    }   
    .correotext2{
        position: relative;
        top: -18px;
        right: -2px;
    }
    .instaimg{
        position: relative;
        top: -5px;
        right: 130px;
    }
    .instatext{
        position: relative;
        top: -33px;
        right: 55px;
    }   
    .contador{
        position: relative;
        top: 90px;
    }
    .copy{
        position: relative;
        bottom: 10px;
    }
    .copytext{
        position: relative;
        bottom: 5px;
    }
}
/*--------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width:500px) and (max-width:799px) {
    /*--------------- header ---------------------*/
    *{
        margin: 0;
        padding: 0;
        border: 0;
    }
    header{
        background-image:   100% center;
        background-position: 100% center;
        background-position-y: center;
        background-position-x: center ;
        float: center;
        object-fit: fill;
        width: 100%;
    }
    .loesc img{
        width: 12%;
    }
    .titulo{
        padding-top: 1em;
        font-size: 80px;
        font-family: lheader;
        color: #FFFFFF;
    }
    /*-------------------body----------------------*/
    body{ 
        width: 100%;
        font-family: lbody;
    }
    .columna{
        float:left;
        width: 40%;
        padding-right: -19px;
    }
    .columna1{
        float:left;
        width: 60%;
    }
    .fila::after{
        content:" ";
        clear: both;
        display: table;   
        margin-top: -24em;
    }
    .columna{
        float:left;
        width: 40%;
        padding-right: -19px;
    }
    .columna1{
        float:left;
        width: 60%;
    }
    .fila::after{
        content:" ";
        clear: both;
        display: table;   
        margin-top: -24em;
    }
    
    .insttext, .telltext, .whatstext, .mailtext1, .mailtext2 {
        position: relative;
        left: 250px;
        top: -5px;
        font-size: 30px;
    }
    .whatstext{
        position: relative;
        left: 250px;
        top: -5px;
        font-size: 30px;
    }
    .tellimg, .mailimg, .instimg, .whatsimg {
        position: relative;
        left: 150px;
        top: 50px;
    }
    .ubic {
        position: relative;
        align-self: center;
        margin-left: 300px; 
        margin-right: 1px; 
        margin-top: 75px; 
        margin-bottom: 50px; 
        width: 60%; 
    }
    
    .ubic iframe {
        width: 100%; 
        height: 500px; 
        border: 0; 
    }

    /*--------------footer-------------------------------*/
    footer{
        background-color: #93b2d2;
        color: #000000;
        text-align: center;
        bottom:-1em;
        position: relative;
        height: 22em;
        font-family: lfooter;
    }
    .columnafoo{
        float:left;
        width: 33%;
        padding-right: 1px;
    }
    .filafoo::after{
        content:" ";
        clear: both;
        display: table;   
        margin-top: 2em;
    }
    .logoimg{
        position: relative;
        top: 5em;
    }
    .logotext{
        position: relative;
        top: 90px;
        font-size: 20px;
    }
    .titulofoo{
        position: relative;
        top: 40px;
        font-size: 25px;
        font-weight: bold;
    }
    .mapaimg{
        position: relative;
        top: 45px;
        right: 130px;
    }
    .mapatext{
        position: relative;
        top: 20px;
        right: -20px;
    }
    .telimg{
        position: relative;
        top: 40px;
        right: 130px;
    }
    .teltext{
        position: relative;
        top: 10px;
        right: 50px;
    }
    .whatimg{
        position: relative;
        top: 30px;
        right: 130px;
    }
    .whattext{
        position: relative;
        top: 2px;
        right: 30px;
    }
    .correoimg{
        position: relative;
        top: 20px;
        right: 130px;
    }
    .correotext1{
        position: relative;
        top: -18px;
        right: -8px;
    }   
    .correotext2{
        position: relative;
        top: -18px;
        right: -2px;
    }
    .instaimg{
        position: relative;
        top: -5px;
        right: 130px;
    }
    .instatext{
        position: relative;
        top: -33px;
        right: 55px;
    }   
    .contador{
        position: relative;
        top: 90px;
    }
    .copy{
        position: relative;
        bottom: 10px;
    }
    .copytext{
        position: relative;
        bottom: 5px;
    }
}
/*-------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width:320px) and (max-width:499px) {
    /*--------------- header ---------------------*/
    *{
        margin: 0;
        padding: 0;
        border: 0;
    }
    header{
        background-image: 100% center;
        background-position: 100% center;
        background-position-y: center;
        background-position-x: center ;
        float: center;
        object-fit: fill;
        width: 100%;
    }
    .loesc img{
        display: flex;
        position: absolute;
        width: 7em;
        top: 0.5em;
    }
    .titulo{
        padding-top: 1em;
        font-size: 60px;
        font-family: lheader;
        color: #FFFFFF;
    }
    
    /*-------------------body----------------------*/
    body{ 
        width: 100%;
        font-family: lbody;
    }
    .columna{
        float:left;
        width: 40%;
        padding-right: -19px;
    }
    .columna1{
        float:left;
        width: 60%;
    }
    .fila::after{
        content:" ";
        clear: both;
        display: table;   
        margin-top: -24em;
    }
    .columna{
        float:left;
        width: 40%;
        padding-right: -19px;
    }
    .columna1{
        float:left;
        width: 60%;
    }
    .fila::after{
        content:" ";
        clear: both;
        display: table;   
        margin-top: -24em;
    }
    
    .insttext, .telltext, .whatstext, .mailtext1, .mailtext2 {
        position: relative;
        left: 250px;
        top: -5px;
        font-size: 30px;
    }

    .whatstext{
        position: relative;
        left: 250px;
        top: -5px;
        font-size: 30px;
    }
    .tellimg, .mailimg, .instimg, .whatsimg {
        position: relative;
        left: 150px;
        top: 50px;
    }
    .ubic {
        position: relative;
        align-self: center;
        margin-left: 300px; 
        margin-right: 1px; 
        margin-top: 75px; 
        margin-bottom: 50px; 
        width: 60%; 
    }

    .ubic iframe {
        width: 100%; 
        height: 500px; 
        border: 0; 
    }

    /*--------------footer-------------------------------*/
    footer{
        background-color: #93b2d2;
        color: #000000;
        text-align: center;
        bottom:-1em;
        position: relative;
        height: 22em;
        font-family: lfooter;
    }
    .columnafoo{
        float:left;
        width: 33%;
        padding-right: 1px;
    }
    .filafoo::after{
        content:" ";
        clear: both;
        display: table;   
        margin-top: 2em;
    }
    .logoimg{
        position: relative;
        top: 5em;
    }
    .logotext{
        position: relative;
        top: 90px;
        font-size: 20px;
    }
    .titulofoo{
        position: relative;
        top: 40px;
        font-size: 25px;
        font-weight: bold;
    }
    .mapaimg{
        position: relative;
        top: 45px;
        right: 130px;
    }
    .mapatext{
        position: relative;
        top: 20px;
        right: -20px;
    }
    .telimg{
        position: relative;
        top: 40px;
        right: 130px;
    }
    .teltext{
        position: relative;
        top: 10px;
        right: 50px;
    }
    .whatimg{
        position: relative;
        top: 30px;
        right: 130px;
    }
    .whattext{
        position: relative;
        top: 2px;
        right: 30px;
    }
    .correoimg{
        position: relative;
        top: 20px;
        right: 130px;
    }
    .correotext1{
        position: relative;
        top: -18px;
        right: -8px;
    }   
    .correotext2{
        position: relative;
        top: -18px;
        right: -2px;
    }
    .instaimg{
        position: relative;
        top: -5px;
        right: 130px;
    }
    .instatext{
        position: relative;
        top: -33px;
        right: 55px;
    }   
    .contador{
        position: relative;
        top: 90px;
    }
    .copy{
        position: relative;
        bottom: 10px;
    }
    .copytext{
        position: relative;
        bottom: 5px;
    }
}
