*{
    margin: 0;
    padding: 0;
    border: 0;
}
header{
    background-color: #2b2d9c;
}
@font-face{
    font-family:titulo;
    src: url(imagenescontacto/Buried\ Hopper.ttf);
}
.loesc img{
    display: flex;
    position: absolute;
    width: 7em;
    top: 0.5em;
}
.titulo{
    padding-top: 1em;
    font-size: 60px;
    font-family: titulo;
    color: #FFFFFF;
}
.logos{
    float:left;
    width: 50%;
    padding-left: 190px;
    padding-right: 4px;
    padding-top: 2em;
}
.insta img{
    display: flex;
    position: relative;
    width: 10%;
}
.gmail img{
    display: flex;
    position: relative;
    width: 10%;
}
.what img{
    display: flex;
    position: relative;
    width: 10%;
}
.tel img{
    display: flex;
    position: relative;
    width: 10%;
}
.ubic{
    display: flex;
    position: relative;
    width: 370px;
    height: 350px;
    top: 2em;
}
.texto{
    display: flex;
    position: absolute;
    font-size: 25px;
}
.instatext{
    margin-top: -12em;
    margin-left: 13em;
}
.gmailtext1{
    margin-top: -8em;
    margin-left: -3.1em; 
}
.gmailtext2{
    margin-top: -9.3em;
    margin-left: -12.5em;
}
.whattext{
    margin-top: -5em;
    margin-left: -13.3em;
}
.teltext{
    margin-top: -1.5em;
    margin-left: -7.6em;
}
footer {
    background-color: #0055b6;
}

.columna{
    padding-right: 15em;
    float: left;
    width: 25%;
}
.container::after{
    content:" ";
    clear: both;
    display: table;

}
/*.columna{
    width: 25%;
    float: inline-start;
    margin: 1em;
    text-align: justify;
    margin-top: 1em;
}*/

.img1 img{
    margin-top: -1em;
    padding-bottom: 1em;
}
.img2{
    margin-top: -1.5em;
}
.img3{
    margin-top: -0.5em;
}
.img4{
    margin-top: -0.6em;
    margin-left: -0.2em;
}
.img5{
    margin-top: -1.5em;
    margin-left: 0.15em;
}
.teximg{
    bottom: 2.6em;
    position: relative;
    left: 4em;
}
.teximg1{
    bottom: 1.8em;
    position: relative;
    left: 4em;
}
.teximg2{
    bottom: 1.7em;
    position: relative;
    left: 4em;
}
.teximg3{
    bottom: 2.3em;
    position: relative;
    left: 4.5em;
}
.teximg4{
    bottom: 1.8em;
    position: relative;
    left: 4.2em;
}
.logoF{
    text-align: center;
}
.logoF img{
    width: 100px;
    margin-top: 1.5em;
}
.copy{
    text-align: center;
}
.tex{
    text-align: center;
}