*{
    margin: 0;
    padding: 0;
    border: 0;
}
@font-face{
    font-family:lheader;
    src: url(imagenescontacto/Buried\ Hopper.ttf);
}
@font-face {
    font-family: lbody;
    src: url(imagenfooter/Montserrat-Regular.ttf);
}
@font-face {
    font-family: lfooter;
    src: url(imagenfooter/Belleza-Regular.ttf);
}
/*--------------------------------------------------------- CELULAR VERTICAL-------------------------------------------------------------*/
@media only screen and (max-width: 420px) {
    /*--------------- header ---------------------*/
    header{
        background-color: #2b2d9c;
        width: 100%;
    }
    .loesc img{
        display: flex;
        position: absolute;
        width: 7em;
        top: 0.5em;
    }
    .titulo{
        padding-top: 1em;
        font-size: 60px;
        font-family: lheader;
        color: #FFFFFF;
    }
    /*-------------------body----------------------*/
    body{ 
        width: 100%;
        font-family: lbody;
    }
    .columna{
        float:left;
        width: 40%;
        padding-right: -19px;
    }
    .columna1{
        float:left;
        width: 60%;
    }
    .fila::after{
        content:" ";
        clear: both;
        display: table;   
        margin-top: -24em;
    }
    .instimg{
        position: relative;
        left: 150px;
        top: 50px;
    }
    .insttext{
        position: relative;
        left: 250px;
        top: -5px;
        font-size: 30px;
    }
    .whatsimg{
        position: relative;
        left: 150px;
        top: 50px;
    }
    .whatstext{
        position: relative;
        left: 250px;
        top: -5px;
        font-size: 30px;
    }
    .tellimg{
        position: relative;
        left: 150px;
        top: 50px;
    }
    .telltext{
        position: relative;
        left: 250px;
        top: -5px;
        font-size: 30px;
    }
    .mailimg{
        position: relative;
        left: 150px;
        top: 50px;
    }
    .mailtext1{
        position: relative;
        left: 250px;
        top: -25px;
        font-size: 30px;
    }
    .mailtext2{
        position: relative;
        left: 250px;
        top: -25px;
        font-size: 30px;
    }
    .ubic{
        position: relative;
        align-self: center;
        margin-left: 300px;
        margin-right: 1px;
        margin-top: 75px;
        margin-bottom: 50px;
    }
    /*--------------footer-------------------------------*/
    footer{
        background-color: #93b2d2;
        color: #000000;
        text-align: center;
        bottom:-1em;
        position: relative;
        height: 22em;
        font-family: lfooter;
    }
    .columnafoo{
        float:left;
        width: 33%;
        padding-right: 1px;
    }
    .filafoo::after{
        content:" ";
        clear: both;
        display: table;   
        margin-top: 2em;
    }
    .logoimg{
        position: relative;
        top: 5em;
    }
    .logotext{
        position: relative;
        top: 90px;
        font-size: 20px;
    }
    .titulofoo{
        position: relative;
        top: 40px;
        font-size: 25px;
        font-weight: bold;
    }
    .mapaimg{
        position: relative;
        top: 45px;
        right: 130px;
    }
    .mapatext{
        position: relative;
        top: 20px;
        right: -20px;
    }
    .telimg{
        position: relative;
        top: 40px;
        right: 130px;
    }
    .teltext{
        position: relative;
        top: 10px;
        right: 50px;
    }
    .whatimg{
        position: relative;
        top: 30px;
        right: 130px;
    }
    .whattext{
        position: relative;
        top: 2px;
        right: 30px;
    }
    .correoimg{
        position: relative;
        top: 20px;
        right: 130px;
    }
    .correotext1{
        position: relative;
        top: -18px;
        right: -8px;
    }   
    .correotext2{
        position: relative;
        top: -18px;
        right: -2px;
    }
    .instaimg{
        position: relative;
        top: -5px;
        right: 130px;
    }
    .instatext{
        position: relative;
        top: -33px;
        right: 55px;
    }   
    .contador{
        position: relative;
        top: 90px;
    }
    .copy{
        position: relative;
        bottom: 10px;
    }
    .copytext{
        position: relative;
        bottom: 5px;
    }
}
/*-------------------------------------------------------------------- TABLET ---------------------------------------------------------------*/
@media (min-width:421px) and (min-width:1299px){ 
    /*--------------- header ---------------------*/
    header{
        background-color: #2b2d9c;
        width: 100%;
    }
    .loesc img{
        display: flex;
        position: absolute;
        width: 7em;
        top: 0.5em;
    }
    .titulo{
        padding-top: 1em;
        font-size: 60px;
        font-family: lheader;
        color: #FFFFFF;
    }
    /*-------------------body----------------------*/
    body{ 
        width: 100%;
        font-family: lbody;
    }
    .columna{
        float:left;
        width: 40%;
        padding-right: -19px;
    }
    .columna1{
        float:left;
        width: 60%;
    }
    .fila::after{
        content:" ";
        clear: both;
        display: table;   
        margin-top: -24em;
    }
    .instimg{
        position: relative;
        left: 150px;
        top: 50px;
    }
    .insttext{
        position: relative;
        left: 250px;
        top: -5px;
        font-size: 30px;
    }
    .whatsimg{
        position: relative;
        left: 150px;
        top: 50px;
    }
    .whatstext{
        position: relative;
        left: 250px;
        top: -5px;
        font-size: 30px;
    }
    .tellimg{
        position: relative;
        left: 150px;
        top: 50px;
    }
    .telltext{
        position: relative;
        left: 250px;
        top: -5px;
        font-size: 30px;
    }
    .mailimg{
        position: relative;
        left: 150px;
        top: 50px;
    }
    .mailtext1{
        position: relative;
        left: 250px;
        top: -25px;
        font-size: 30px;
    }
    .mailtext2{
        position: relative;
        left: 250px;
        top: -25px;
        font-size: 30px;
    }
    .ubic{
        position: relative;
        align-self: center;
        margin-left: 300px;
        margin-right: 1px;
        margin-top: 75px;
        margin-bottom: 50px;
    }
    /*--------------footer-------------------------------*/
    footer{
        background-color: #93b2d2;
        color: #000000;
        text-align: center;
        bottom:-1em;
        position: relative;
        height: 22em;
        font-family: lfooter;
    }
    .columnafoo{
        float:left;
        width: 33%;
        padding-right: 1px;
    }
    .filafoo::after{
        content:" ";
        clear: both;
        display: table;   
        margin-top: 2em;
    }
    .logoimg{
        position: relative;
        top: 5em;
    }
    .logotext{
        position: relative;
        top: 90px;
        font-size: 20px;
    }
    .titulofoo{
        position: relative;
        top: 40px;
        font-size: 25px;
        font-weight: bold;
    }
    .mapaimg{
        position: relative;
        top: 45px;
        right: 130px;
    }
    .mapatext{
        position: relative;
        top: 20px;
        right: -20px;
    }
    .telimg{
        position: relative;
        top: 40px;
        right: 130px;
    }
    .teltext{
        position: relative;
        top: 10px;
        right: 50px;
    }
    .whatimg{
        position: relative;
        top: 30px;
        right: 130px;
    }
    .whattext{
        position: relative;
        top: 2px;
        right: 30px;
    }
    .correoimg{
        position: relative;
        top: 20px;
        right: 130px;
    }
    .correotext1{
        position: relative;
        top: -18px;
        right: -8px;
    }   
    .correotext2{
        position: relative;
        top: -18px;
        right: -2px;
    }
    .instaimg{
        position: relative;
        top: -5px;
        right: 130px;
    }
    .instatext{
        position: relative;
        top: -33px;
        right: 55px;
    }   
    .contador{
        position: relative;
        top: 90px;
    }
    .copy{
        position: relative;
        bottom: 10px;
    }
    .copytext{
        position: relative;
        bottom: 5px;
    }
}
/*----------------------------------------------------- Computadora -----------------------------------------------------------------------*/ 
@media (min-width:1300px) { 
    /*--------------- header ---------------------*/
    header{
        background-color: #2b2d9c;
        width: 100%;
    }
    .loesc img{
        display: flex;
        position: absolute;
        width: 7em;
        top: 0.5em;
    }
    .titulo{
        padding-top: 1em;
        font-size: 60px;
        font-family: lheader;
        color: #FFFFFF;
    }
    /*-------------------body----------------------*/
    body{ 
        width: 100%;
        font-family: lbody;
    }
    .columna{
        float:left;
        width: 40%;
        padding-right: -19px;
    }
    .columna1{
        float:left;
        width: 60%;
    }
    .fila::after{
        content:" ";
        clear: both;
        display: table;   
        margin-top: -24em;
    }
    .instimg{
        position: relative;
        left: 150px;
        top: 50px;
    }
    .insttext{
        position: relative;
        left: 250px;
        top: -5px;
        font-size: 30px;
    }
    .whatsimg{
        position: relative;
        left: 150px;
        top: 50px;
    }
    .whatstext{
        position: relative;
        left: 250px;
        top: -5px;
        font-size: 30px;
    }
    .tellimg{
        position: relative;
        left: 150px;
        top: 50px;
    }
    .telltext{
        position: relative;
        left: 250px;
        top: -5px;
        font-size: 30px;
    }
    .mailimg{
        position: relative;
        left: 150px;
        top: 50px;
    }
    .mailtext1{
        position: relative;
        left: 250px;
        top: -25px;
        font-size: 30px;
    }
    .mailtext2{
        position: relative;
        left: 250px;
        top: -25px;
        font-size: 30px;
    }
    .ubic{
        position: relative;
        align-self: center;
        margin-left: 300px;
        margin-right: 1px;
        margin-top: 75px;
        margin-bottom: 50px;
    }
    /*--------------footer-------------------------------*/
    footer{
        background-color: #93b2d2;
        color: #000000;
        text-align: center;
        bottom:-1em;
        position: relative;
        height: 22em;
        font-family: lfooter;
    }
    .columnafoo{
        float:left;
        width: 33%;
        padding-right: 1px;
    }
    .filafoo::after{
        content:" ";
        clear: both;
        display: table;   
        margin-top: 2em;
    }
    .logoimg{
        position: relative;
        top: 5em;
    }
    .logotext{
        position: relative;
        top: 90px;
        font-size: 20px;
    }
    .titulofoo{
        position: relative;
        top: 40px;
        font-size: 25px;
        font-weight: bold;
    }
    .mapaimg{
        position: relative;
        top: 45px;
        right: 130px;
    }
    .mapatext{
        position: relative;
        top: 20px;
        right: -20px;
    }
    .telimg{
        position: relative;
        top: 40px;
        right: 130px;
    }
    .teltext{
        position: relative;
        top: 10px;
        right: 50px;
    }
    .whatimg{
        position: relative;
        top: 30px;
        right: 130px;
    }
    .whattext{
        position: relative;
        top: 2px;
        right: 30px;
    }
    .correoimg{
        position: relative;
        top: 20px;
        right: 130px;
    }
    .correotext1{
        position: relative;
        top: -18px;
        right: -8px;
    }   
    .correotext2{
        position: relative;
        top: -18px;
        right: -2px;
    }
    .instaimg{
        position: relative;
        top: -5px;
        right: 130px;
    }
    .instatext{
        position: relative;
        top: -33px;
        right: 55px;
    }   
    .contador{
        position: relative;
        top: 90px;
    }
    .copy{
        position: relative;
        bottom: 10px;
    }
    .copytext{
        position: relative;
        bottom: 5px;
    }
}
/*----------------------------------------------------------- Computadora/Netbook del gobierno -----------------------------------------------*/
@media (max-width:1024px) and (min-width:600px){
    /*--------------- header ---------------------*/
    header{
        background-color: #2b2d9c;
        width: 100%;
    }
    .loesc img{
        display: flex;
        position: absolute;
        width: 7em;
        top: 0.5em;
    }
    .titulo{
        padding-top: 1em;
        font-size: 60px;
        font-family: lheader;
        color: #FFFFFF;
    }
    /*-------------------body----------------------*/
    body{ 
        width: 100%;
        font-family: lbody;
    }
    .columna{
        float:left;
        width: 40%;
        padding-right: -19px;
    }
    .columna1{
        float:left;
        width: 60%;
    }
    .fila::after{
        content:" ";
        clear: both;
        display: table;   
        margin-top: -24em;
    }
    .instimg{
        position: relative;
        left: 150px;
        top: 50px;
    }
    .insttext{
        position: relative;
        left: 250px;
        top: -5px;
        font-size: 30px;
    }
    .whatsimg{
        position: relative;
        left: 150px;
        top: 50px;
    }
    .whatstext{
        position: relative;
        left: 250px;
        top: -5px;
        font-size: 30px;
    }
    .tellimg{
        position: relative;
        left: 150px;
        top: 50px;
    }
    .telltext{
        position: relative;
        left: 250px;
        top: -5px;
        font-size: 30px;
    }
    .mailimg{
        position: relative;
        left: 150px;
        top: 50px;
    }
    .mailtext1{
        position: relative;
        left: 250px;
        top: -25px;
        font-size: 30px;
    }
    .mailtext2{
        position: relative;
        left: 250px;
        top: -25px;
        font-size: 30px;
    }
    .ubic{
        position: relative;
        align-self: center;
        margin-left: 300px;
        margin-right: 1px;
        margin-top: 75px;
        margin-bottom: 50px;
    }
    /*--------------footer-------------------------------*/
    footer{
        background-color: #93b2d2;
        color: #000000;
        text-align: center;
        bottom:-1em;
        position: relative;
        height: 22em;
        font-family: lfooter;
    }
    .columnafoo{
        float:left;
        width: 33%;
        padding-right: 1px;
    }
    .filafoo::after{
        content:" ";
        clear: both;
        display: table;   
        margin-top: 2em;
    }
    .logoimg{
        position: relative;
        top: 5em;
    }
    .logotext{
        position: relative;
        top: 90px;
        font-size: 20px;
    }
    .titulofoo{
        position: relative;
        top: 40px;
        font-size: 25px;
        font-weight: bold;
    }
    .mapaimg{
        position: relative;
        top: 45px;
        right: 130px;
    }
    .mapatext{
        position: relative;
        top: 20px;
        right: -20px;
    }
    .telimg{
        position: relative;
        top: 40px;
        right: 130px;
    }
    .teltext{
        position: relative;
        top: 10px;
        right: 50px;
    }
    .whatimg{
        position: relative;
        top: 30px;
        right: 130px;
    }
    .whattext{
        position: relative;
        top: 2px;
        right: 30px;
    }
    .correoimg{
        position: relative;
        top: 20px;
        right: 130px;
    }
    .correotext1{
        position: relative;
        top: -18px;
        right: -8px;
    }   
    .correotext2{
        position: relative;
        top: -18px;
        right: -2px;
    }
    .instaimg{
        position: relative;
        top: -5px;
        right: 130px;
    }
    .instatext{
        position: relative;
        top: -33px;
        right: 55px;
    }   
    .contador{
        position: relative;
        top: 90px;
    }
    .copy{
        position: relative;
        bottom: 10px;
    }
    .copytext{
        position: relative;
        bottom: 5px;
    }
}
/*----------------------------------------------------- Computadora/Netbook Juana Manso -----------------------------------------------------*/
@media (max-width:1366px) and (min-width:768px){
    /*--------------- header ---------------------*/
    header{
        background-color: #2b2d9c;
        width: 100%;
    }
    .loesc img{
        display: flex;
        position: absolute;
        width: 7em;
        top: 0.5em;
    }
    .titulo{
        padding-top: 1em;
        font-size: 60px;
        font-family: lheader;
        color: #FFFFFF;
    }
    /*-------------------body----------------------*/
    body{ 
        width: 100%;
        font-family: lbody;
    }
    .columna{
        float:left;
        width: 40%;
        padding-right: -19px;
    }
    .columna1{
        float:left;
        width: 60%;
    }
    .fila::after{
        content:" ";
        clear: both;
        display: table;   
        margin-top: -24em;
    }
    .instimg{
        position: relative;
        left: 150px;
        top: 50px;
    }
    .insttext{
        position: relative;
        left: 250px;
        top: -5px;
        font-size: 30px;
    }
    .whatsimg{
        position: relative;
        left: 150px;
        top: 50px;
    }
    .whatstext{
        position: relative;
        left: 250px;
        top: -5px;
        font-size: 30px;
    }
    .tellimg{
        position: relative;
        left: 150px;
        top: 50px;
    }
    .telltext{
        position: relative;
        left: 250px;
        top: -5px;
        font-size: 30px;
    }
    .mailimg{
        position: relative;
        left: 150px;
        top: 50px;
    }
    .mailtext1{
        position: relative;
        left: 250px;
        top: -25px;
        font-size: 30px;
    }
    .mailtext2{
        position: relative;
        left: 250px;
        top: -25px;
        font-size: 30px;
    }
    .ubic{
        position: relative;
        align-self: center;
        margin-left: 300px;
        margin-right: 1px;
        margin-top: 75px;
        margin-bottom: 50px;
    }
    /*--------------footer-------------------------------*/
    footer{
        background-color: #93b2d2;
        color: #000000;
        text-align: center;
        bottom:-1em;
        position: relative;
        height: 22em;
        font-family: lfooter;
    }
    .columnafoo{
        float:left;
        width: 33%;
        padding-right: 1px;
    }
    .filafoo::after{
        content:" ";
        clear: both;
        display: table;   
        margin-top: 2em;
    }
    .logoimg{
        position: relative;
        top: 5em;
    }
    .logotext{
        position: relative;
        top: 90px;
        font-size: 20px;
    }
    .titulofoo{
        position: relative;
        top: 40px;
        font-size: 25px;
        font-weight: bold;
    }
    .mapaimg{
        position: relative;
        top: 45px;
        right: 130px;
    }
    .mapatext{
        position: relative;
        top: 20px;
        right: -20px;
    }
    .telimg{
        position: relative;
        top: 40px;
        right: 130px;
    }
    .teltext{
        position: relative;
        top: 10px;
        right: 50px;
    }
    .whatimg{
        position: relative;
        top: 30px;
        right: 130px;
    }
    .whattext{
        position: relative;
        top: 2px;
        right: 30px;
    }
    .correoimg{
        position: relative;
        top: 20px;
        right: 130px;
    }
    .correotext1{
        position: relative;
        top: -18px;
        right: -8px;
    }   
    .correotext2{
        position: relative;
        top: -18px;
        right: -2px;
    }
    .instaimg{
        position: relative;
        top: -5px;
        right: 130px;
    }
    .instatext{
        position: relative;
        top: -33px;
        right: 55px;
    }   
    .contador{
        position: relative;
        top: 90px;
    }
    .copy{
        position: relative;
        bottom: 10px;
    }
    .copytext{
        position: relative;
        bottom: 5px;
    }
}
/*-------------------------------------------------------------------------------------------------------------------------------------*/
@media (min-width:320px){
    /*--------------- header ---------------------*/
    header{
        background-color: #2b2d9c;
        width: 100%;
    }
    .loesc img{
        display: flex;
        position: absolute;
        width: 7em;
        top: 0.5em;
    }
    .titulo{
        padding-top: 1em;
        font-size: 60px;
        font-family: lheader;
        color: #FFFFFF;
    }
    /*-------------------body----------------------*/
    body{ 
        width: 100%;
        font-family: lbody;
    }
    .columna{
        float:left;
        width: 40%;
        padding-right: -19px;
    }
    .columna1{
        float:left;
        width: 60%;
    }
    .fila::after{
        content:" ";
        clear: both;
        display: table;   
        margin-top: -24em;
    }
    .instimg{
        position: relative;
        left: 150px;
        top: 50px;
    }
    .insttext{
        position: relative;
        left: 250px;
        top: -5px;
        font-size: 30px;
    }
    .whatsimg{
        position: relative;
        left: 150px;
        top: 50px;
    }
    .whatstext{
        position: relative;
        left: 250px;
        top: -5px;
        font-size: 30px;
    }
    .tellimg{
        position: relative;
        left: 150px;
        top: 50px;
    }
    .telltext{
        position: relative;
        left: 250px;
        top: -5px;
        font-size: 30px;
    }
    .mailimg{
        position: relative;
        left: 150px;
        top: 50px;
    }
    .mailtext1{
        position: relative;
        left: 250px;
        top: -25px;
        font-size: 30px;
    }
    .mailtext2{
        position: relative;
        left: 250px;
        top: -25px;
        font-size: 30px;
    }
    .ubic{
        position: relative;
        align-self: center;
        margin-left: 300px;
        margin-right: 1px;
        margin-top: 75px;
        margin-bottom: 50px;
    }
    /*--------------footer-------------------------------*/
    footer{
        background-color: #93b2d2;
        color: #000000;
        text-align: center;
        bottom:-1em;
        position: relative;
        height: 22em;
        font-family: lfooter;
    }
    .columnafoo{
        float:left;
        width: 33%;
        padding-right: 1px;
    }
    .filafoo::after{
        content:" ";
        clear: both;
        display: table;   
        margin-top: 2em;
    }
    .logoimg{
        position: relative;
        top: 5em;
    }
    .logotext{
        position: relative;
        top: 90px;
        font-size: 20px;
    }
    .titulofoo{
        position: relative;
        top: 40px;
        font-size: 25px;
        font-weight: bold;
    }
    .mapaimg{
        position: relative;
        top: 45px;
        right: 130px;
    }
    .mapatext{
        position: relative;
        top: 20px;
        right: -20px;
    }
    .telimg{
        position: relative;
        top: 40px;
        right: 130px;
    }
    .teltext{
        position: relative;
        top: 10px;
        right: 50px;
    }
    .whatimg{
        position: relative;
        top: 30px;
        right: 130px;
    }
    .whattext{
        position: relative;
        top: 2px;
        right: 30px;
    }
    .correoimg{
        position: relative;
        top: 20px;
        right: 130px;
    }
    .correotext1{
        position: relative;
        top: -18px;
        right: -8px;
    }   
    .correotext2{
        position: relative;
        top: -18px;
        right: -2px;
    }
    .instaimg{
        position: relative;
        top: -5px;
        right: 130px;
    }
    .instatext{
        position: relative;
        top: -33px;
        right: 55px;
    }   
    .contador{
        position: relative;
        top: 90px;
    }
    .copy{
        position: relative;
        bottom: 10px;
    }
    .copytext{
        position: relative;
        bottom: 5px;
    }
}
