*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: lheader;
    src: url(imagenes/Buried\ Hopper.ttf);
}
@font-face {
    font-family: lbody;
    src: url(imagenfooter/Montserrat-Regular.ttf);
}
@font-face {
    font-family: lfooter;
    src: url(imagenfooter/Belleza-Regular.ttf);
}
.regresar img{
    width: 40px;
}
.regresar{
    background-color: transparent;
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    transform: translateX(120px);
    transition: all .25s;
    cursor: pointer;
}
.visible{
    opacity: 1;
    transform: translateX(0);
}
/*---------------------------------------------------------header------------------------------------------------------*/

header{
    font-family: lheader; 
    background-color: #2b2d9c;
    height: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.loesc img{
    display: flex;
    position: absolute;
    width: 7em;
    top: 0.5em;
}
.inicio{
    color: #fff;
    position: relative;
    display: flex;
    top: -10em;
    margin-left: 2.5em;
    font-family: lheader;
}
.titulo{
    max-width: 100%;
    text-align: center;
    align-items: center;
    margin: auto;
    font-size: 60px;
}
.titulo h1{
    font-family: lheader;
    font-weight: bold;
    color: #FFFFFF;
}
/*------------------------------------------------------body-----------------------------------------------------------*/
body {
    font-family: lbody;
}
.subtitulo{
    font-weight: bold;
    font-size: 20px;
}
.container {
    max-width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}
.toggle-btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    background-color: #4d82b8;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}
.toggle-btn:hover {
    background-color: #1b63b1;
}
.content {
    display: none;
    padding: 10px;
    background-color: #d4dae4b9;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: justify;
    font-size: larger;
}
.img{
    display: flex ;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.img img{
    width: 80%;
}
.video{
    display: flex ;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.video div{
    width: 80%;
}

/*------------------------------------------------------footer-----------------------------------------------------------*/
@media only screen and (max-width: 420px) {

    header {
        background-color: #2b2d9c;
        width: 100%;
        height: 85px;
        display: flex; 
        justify-content: center; 
        align-items: center; 
        position: relative;
    }

    .loesc img {
        display: flex;
        position:absolute;
        width: 3.5em;
        top: 0.5em;
       margin-left: -6.1em;
    }

    .titulo {
        padding-top: 9px;
        font-size: 30px;
        font-family: chau;
        color: #FFFFFF;
        text-align: center;
        margin: 0; 
        margin-left: -3em;
        z-index: 1; 
    }
    footer{
        background-color: #93b2d2;
        color: #000000;
        text-align: center;
        bottom:-1em;
        position: relative;
        height: 100px;;
        font-family: lfooter;
    }
    .filafoo {
        display: flex;
        flex-direction: column;
        align-items: center; 
        background-color: #93b2d2;
    }
    .columnafoo {
        width: 100%; 
        text-align: center; /* Alinear el contenido en el centro */
        margin-bottom: 4em; /* Espacio entre columnas */
        background-color: #93b2d2;
        
    }

    .logoimg img {
        width: 50px;
    }

    .logotext {
        font-size: 10px;
    }

    .titulofoo {
        font-size: 15px;
        font-weight: bold;
    }

    .contactos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contactos img {
        width: 30px;
        margin-bottom: 0.3em;
    }

    .teltext, .whattext, .instatext {
        font-size: 16px;
        margin-bottom: 0.3em;  
        margin-top:  -0.5em;
    }
    .correotext1, .correotext2 {
        font-size: 16px;
        margin-bottom: 0.3em;  
        margin-top:  -0.4em;
    }
    .mapatext  {
        font-size: 16px;
        margin-bottom: 0.3em; 
        margin-left: -4em;
        margin-top: -0.6em;
    }
   
    .instatext {
        margin-bottom: -4.5em;
    }

    .contador img {
        width: 200px;
        margin-top: 1em;
        text-align:center;
    }
}

@media (min-width:421px) and (max-width:1299px){ 

    header{
        background-color: #2b2d9c;
        width: 100%;
        height: 100px;;
     
    }
    .loesc img{
        display: flex;
        position: absolute;
        width: 4em;
        top: 0.5em;
    }
    .titulo{
        padding-top: 8.5px;
        font-size: 35px;
        font-family: chau;
        color: #FFFFFF;
        text-align: center;
    }


    footer{
        background-color: #93b2d2;
        color: #000000;
        text-align: center;
        bottom:-1em;
        position: relative;
        height: 100px;;
        font-family: lfooter;
    }
    .filafoo {
        display: flex;
        flex-direction: column;
        align-items: center; 
        background-color: #93b2d2;
    }
    .columnafoo {
        width: 100%; 
        text-align: center; 
        margin-bottom: 4em; 
        background-color: #93b2d2;
        
    }

    .logoimg img {
        width: 50px;
    }

    .logotext {
        font-size: 10px;
    }

    .titulofoo {
        font-size: 15px;
        font-weight: bold;
    }

    .contactos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contactos img {
        width: 30px;
        margin-bottom: 0.3em;
    }

    .teltext, .whattext, .instatext {
        font-size: 16px;
        margin-bottom: 0.3em;  
        margin-top:  -0.5em;
    }
    .correotext1, .correotext2 {
        font-size: 16px;
        margin-bottom: 0.3em;  
        margin-top:  -0.4em;
    }
    .mapatext  {
        font-size: 16px;
        margin-bottom: 0.3em; 
    
        margin-top: -0.6em;
    }
   
    .instatext {
        margin-bottom: -4.5em;
    }

    .contador img {
        width: 200px;
        margin-top: 1em;
        text-align:center;
    }
  
} 



footer{
    background-color: #93b2d2;
    color: #000000;
    text-align: center;
    bottom:-1em;
    position: relative;
    height: 22em;
    padding-bottom: -10em;
    font-family: lfooter;
    z-index: -1;
}
.columnafoo{
    float:left;
    width: 33%;
    padding-right: 1px;
}
.filafoo::after{
    content:" ";
    clear: both;
    display: table;   
    margin-top: 2em;
}
.logoimg img{
    position: relative;
    top: 5em;
    width: 100px;
}
.logotext{
    position: relative;
    top: 90px;
    font-size: 20px;
}
.titulofoo{
    position: relative;
    top: 40px;
    font-size: 25px;
    font-weight: bold;
}
.contactos img{
    width: 30px;
}
.mapaimg{
    position: relative;
    top: 45px;
    right: 130px;
}
.mapatext{
    position: relative;
    top: 20px;
    right: -20px;
}
.telimg{
    position: relative;
    top: 40px;
    right: 130px;
}
.teltext{
    position: relative;
    top: 10px;
    right: 50px;
}
.whatimg{
    position: relative;
    top: 30px;
    right: 130px;
}
.whattext{
    position: relative;
    top: 2px;
    right: 30px;
}
.correoimg{
    position: relative;
    top: 20px;
    right: 130px;
}
.correotext1{
    position: relative;
    top: -18px;
    right: -8px;
}
.correotext2{
    position: relative;
    top: -18px;
    right: -2px;
}
.instaimg{
    position: relative;
    top: -5px;
    right: 130px;
}
.instatext{
    position: relative;
    top: -33px;
    right: 55px;
}
.contador{
    position: relative;
    top: 90px;
}
.copy{
    position: relative;
    bottom: 10px;
}
.copytext{
    position: relative;
    bottom: 5px;
}
