*{ 
    padding: 0;
    margin: 0;
}
*::before,

*::after{ 
    margin: 0;
    padding: 0;
    box-sizing:inherit;
}
@font-face {
    font-family: hola;
    src: url(Imageneshistoria/Buried\ Hopper.ttf); 
}
@font-face {
    font-family: lbody;
    src: url(imagenfooter/Montserrat-Regular.ttf);
}
@font-face {
    font-family: lfooter;
    src: url(imagenfooter/Belleza-Regular.ttf);
}
.regresar img{
    width: 40px;
    border: none;
    background-color: transparent;
    }
    .regresar{
        border: none;
        background-color: transparent;
        position: fixed;
        bottom: 20px;
        right: 20px;
        opacity: 0;
        transform: translateX(120px);
        transition: all .25s;
        cursor: pointer;
        z-index: 100;
    }
    .visible{
        opacity: 1;
        transform: translateX(0);
    }
    /*----FOOTER----*/
footer{
    background-color: #93b2d2;
    color: #000000;
}
.logoimg img{
    position: relative;
    width: 8%;
    margin-left: 10em;
    margin-top: 4em;
}
.logotext{
    position: relative;
    font-family: lfooter;
    font-size: 20px;
    margin-left: 3em;
}
.titulofoo{
    font-family: lfooter;
    font-size: 25px;
    font-weight: bold;
}
.t1{
    position: relative;
    margin-top: -8.5em;
    margin-left: 28em;
}
.contactos img{
    position: relative;
    width: 2%;
    margin-left: 37em;
}
.contactos p{
    position: relative;
    font-family: lfooter;
    font-size: 17px;
    margin-left: 39em;
}
.mapatext p{
    margin-top: -2em;
}
.telimg img{
    margin-top: 2em;
}
.teltext p{
    margin-top: -2em;
}
.whatimg img{
    margin-top: 2em;
}
.whattext p{
    margin-top: -2em;
}
.correoimg img{
    margin-top: 2em;
}
.correotext1 p{
    margin-top: -2.5em;
}
.instaimg img{
    margin-top: 1.5em;
}
.instatext p{
    margin-top: -1.5em;
}
.t2{
    margin-top: -11em;
    margin-left: 45em;
}
.contador{
    position: relative;
    margin-left: 73em;
}
.foolegal{
    background-color: #6a849e;
}
.copy{
    margin-top: 15em;
}
/*--------------------------------------- CELULAR VERTICAL ------------------------------------------------*/
@media screen and (max-width: 420px) {
    .rectan {
        box-shadow: 5px 5px 2.5px #51829C; 
    }
    #popup-container {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000; /* Ajusta el z-index para que esté sobre otros elementos */
    }
    
    #popup-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(255, 255, 255, 0.75);
        padding: 5px 5px;
        max-width: 100%;
        max-height: 200%;
        z-index: 1001;
    }
    
    #popup-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1000; 
    }
    #popup-content .img1 img {
        max-width: 200%;
        width: 300px;
        height: auto;
    }
    .cuerbody p{
        font-size: 18px;
        margin-left: -3.5em;
        margin-right: -3.5em;
    }
    /*----FOOTER----*/
    footer{
        width: 100%;
    }
    .logoimg img{
        width: 30%;
        margin-left: 9em;
        margin-top: 2em;
    }
    .logotext{
        text-align: center;
        font-size: 18px;
        margin-left: 0.5em;
    }
    .t1{
        margin-left: 6em;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .contactos img{
        margin-left: 4.5em;
        width: 6%;
    }
    .contactos p{
        margin-left: 8em;
        font-size: 15px;
    }
    .t2{
        margin-left: 4.5em;
        margin-top: 1em;
    }
    .contador{
        margin-left: 10em;
    }
    .copy{
        margin-top: 1em;
    }
}
@media (max-width:750px) {
    .filadire {
        justify-content: center; /* Centra los rectángulos en pantallas pequeñas */
    }
    .rectan {
        width: 100%; 
        max-width: 300px; 
    }
    .nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 25px;
    }
    
    .header .nav ul li {
        float: left;
        position: relative;
        z-index: 1; 
    }
    
    .header .nav ul li a {
        font-family: 'hola'; 
        font-size: 25px;
        color: #fff;
        text-decoration: none;
        padding: 18px;
        display: flex;
        transition: all 0.2s ease;
        position: relative;
    }
    
    .header .nav ul li a:hover {
        background-color:  #2b2d9c;
    }
    
    /* Submenús */
    .header .nav ul li ul {
        width: 200px;
        display: none; 
        background-color:  #1e1f7c;
        position: absolute;
        margin-left: 8%;
        top: 0; 
        padding: 14px 0;
        visibility: hidden;
        opacity: 0;
        box-shadow: 0px 0px 10px 0px  #4345d0;
        z-index: 10000; 
        transition: all 300ms ease;
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 10px; 
    }
    
    .header .nav ul li:hover ul,
    .header .nav ul li:focus-within ul {
        display: grid; 
        visibility: visible;
        opacity: 1;
        z-index: 10000; 
    }
    
    .header .nav ul li ul li a {
        display: block;
        color: #ffffff;
        padding: 10px 20px;
        font-size: 16px;
        text-decoration: none;
        transition: all 300ms ease;
        z-index: 10000; 
    }
    
    .header .nav ul li ul li a:hover {
        background-color: #5c5d97;
        color: #fff;
        transform: scale(1.1);
        padding-left: 30px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
        z-index: 10000; 
    }
    
    .header{
        display: flex; 
        margin: 0 ;
        padding: 0; 
        box-sizing: inherit;
        background-color:  #2b2d9c;
        top: 0;
        left: 0;
        right: 0;
        padding: 0 3em;
        align-items: center;
        justify-content: space-between;
        z-index: 999;  
    } 
    body {
        overflow-x: hidden;
    }
    .logo img{
        height: 3em;
        width: 3em; 
        margin-left: 0;  
        display: flex;  
    }
    .slider-box {
        width: 100%;
        height: 100vh;
        overflow: hidden; 
        position: relative;
    }

    .slider-box ul {
        display: flex;
        padding: 0;
        width: 400%; 
        height: 100%;
        margin: 0;
        list-style: none;
        position: absolute; 
        top: 0; 
        left: 0; 
    }

    .slider-box li {
        flex: 0 0 100%; 
        height: 100%;
    }

    .slider-box img {
        width: 100%;
        height: 100vh;
        object-fit: cover; 
    }

    @keyframes slide {
        0% { margin-left: 0; }
        25% { margin-left: -100%; }
        50% { margin-left: -200%; }
        75% { margin-left: -300%; }
        100% { margin-left: -400%; }
    }

    .slider-box ul {
        animation: slide 20s infinite linear;
    }
    
    
    .sec1{
        background-color: #fff;
        display: flex;
        top: 8em;
        position: absolute;
        height: 25vh;
        width: 35vw;
        border-radius: 5%;
        right: 1.5em;
    
    }
    .sec1 img{
        display: grid;
        place-items: center;
        height: 100%;
        width: 100%;
        border-radius: 5%;
    }
    .sec1 img:hover{
        transform: scale(1.1);
    }
    .sec2{
        background-color: #fff;
        display: flex;
        top: 8em;
        position: absolute;
        height: 25vh;
        width: 35vw;
        border-radius: 5%;
        margin-left: 1.5em;
    }
    .sec2 img{
        display: grid;
        place-items: center;
        height: 100%;
        width: 100%;
        border-radius: 5%;
    }
    .sec2 img:hover{
        transform: scale(1.1);
    } 
    .sec3{
        background-color: #fff;
        display: flex;
        bottom: 8em;
        position: absolute;
        height: 25vh;
        width: 35vw;
        border-radius: 5%;
        left:1.5em;
    }
    .sec3 img{
        display: grid;
        place-items: center;
        height: 100%;
        width: 100%;
        border-radius: 5%;
    }
    .sec3 img:hover{
        transform: scale(1.1);
    }
    .sec4{
        background-color: #fff;
        display: flex;
        bottom: 8em;
        position: absolute;
        height: 25vh;
        width: 35vw;
        border-radius: 5%;
        right: 1.5em;
    }
    .sec4 img{
        display: grid;
        place-items: center;
        height: 100%;
        width: 100%;
        border-radius: 5%;
    }
    .sec4 img:hover{
        transform: scale(1.1);
    }
} 
/*------------------------------------------- TABLET ----------------------------------------------------*/
@media (min-width:751px) and (max-width:1279px) {  
    .nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 25px;
    }
    
    .header .nav ul li {
        float: left;
        position: relative;
        z-index: 1; 
    }
    
    .header .nav ul li a {
        font-family: 'hola'; 
        font-size: 25px;
        color: #fff;
        text-decoration: none;
        padding: 18px;
        display: flex;
        transition: all 0.2s ease;
        position: relative;
    }
    
    .header .nav ul li a:hover {
        background-color: #2b2d9c;
    }
    
    /* Submenús */
    .header .nav ul li ul {
        width: 200px;
        display: none; 
        background-color: #1e1f7c;
        position: absolute;
        margin-left: 10%;
        top: 0; 
        padding: 14px 0;
        visibility: hidden;
        opacity: 0;
        box-shadow: 0px 0px 10px 0px #4345d0;
        z-index: 10000; 
        transition: all 300ms ease;
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 10px; 
    }
    
    .header .nav ul li:hover ul,
    .header .nav ul li:focus-within ul {
        display: grid; 
        visibility: visible;
        opacity: 1;
        z-index: 10000; 
    }
    
    .header .nav ul li ul li a {
        display: block;
        color: #ffffff;
        padding: 10px 20px;
        font-size: 16px;
        text-decoration: none;
        transition: all 300ms ease;
        z-index: 10000; 
    }
    
    .header .nav ul li ul li a:hover {
        background-color: #5c5d97;
        color: #fff;
        transform: scale(1.1);
        padding-left: 30px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
        z-index: 10000; 
    }
    #popup-container {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000; /* Ajusta el z-index para que esté sobre otros elementos */
    }
    
    #popup-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(255, 255, 255, 0.75);
        padding: 5px 5px;
        max-width: 100%;
        max-height: 200%;
        z-index: 1001;
    }
    
    #popup-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1000; 
    }
    #popup-content .img1 img {
        max-width: 200%;
        width: 300px;
        height: auto;
    }
    .header {
        /* position: fixed;*/
        background-color:  #2b2d9c;
        top: 0;
        left: 0;
        right: 0;
        padding: 0px 3em;
        display: flex; 
        align-items: center;
        justify-content: space-between;
        z-index: 1000;  
        box-sizing: inherit; 
    }
    .logo img{
        height: 4em;
        width: 5em; 
        display:flex; 
        padding: 0 50px 0 30px;
    }  
    /*CARRUSEL*/
    .slider-box { 
        width: 100%;
        height: 100vh;
        margin: 0;
        overflow: hidden; 
    }
    
    .slider-box ul {
        display: flex;
        padding: 0;
        margin: 0;
        width: 100%; 
        transform: translateX(0); 
    }
    
    .slider-box li {
        width: 100%; 
        list-style: none;
        position: relative;
        flex-shrink: 0; 
    }
    
    .slider-box img {
        width: 100%;
        height: 100vh;
    }

    @keyframes slide {
        0% { margin-left: 0; }
        20% { margin-left: 0; }

        25% { margin-left: -100%;}
        45% { margin-left: -100%;}

        50% { margin-left: -200%;}
        70% { margin-left: -200%;}

        75% { margin-left: -300%;}
        100% { margin-left: -300%;}
    } 
    .sec1{
        background-color: #fff;
        display: flex;
        bottom: 1.5em;
        position: absolute;
        height: 40vh;
        width: 20vw;
        border-radius: 5%;
        margin-left: 28%;
    }
    .sec1 img{
        display: grid;
        place-items: center;
        height: 95%;
        width: 95%;
        margin-left:0.5em;
        margin-top: 0.5em;
        border-radius: 5%;
    }
    .sec1 img:hover{
        transform: scale(1.1);
    }
    .sec2{
        background-color: #fff;
        display: flex;
        bottom: 1.5em;
        position: absolute;
        height: 40vh;
        width: 20vw;
        border-radius: 5%;
        margin-left: 2.5%;
    }
    .sec2 img{
        display: grid;
        place-items: center;
        height: 95%;
        width: 95%;
        margin-left: 0.5em;
        margin-top: 0.5em;
        border-radius: 5%;
    }
    .sec2 img:hover{
        transform: scale(1.1);
    } 
    .sec3{
        background-color: #fff;
        display: flex;
        bottom: 1.5em;
        position: absolute;
        height: 40vh;
        width: 20vw;
        border-radius: 5%;
        margin-left:53%;
    }
    .sec3 img{
        display: grid;
        place-items: center;
        height: 95%;
        width: 95%;
        margin-left: 0.5em;
        margin-top: 0.5em;
        border-radius: 5%;
    }
    .sec3 img:hover{
        transform: scale(1.1);
    }
    .sec4{
        background-color: #fff;
        display: flex;
        bottom: 1.5em;
        position: absolute;
        height: 40vh;
        width: 20vw;
        border-radius: 5%;
        margin-left: 77.5%;
    }
    .sec4 img{
        display: grid;
        place-items: center;
        height: 95%;
        width: 95%;
        margin-left: 0.5em;
        margin-top: 0.5em;
        border-radius: 5%;
    }
    .sec4 img:hover{
        transform: scale(1.1);
    }
     /*----FOOTER----*/
    footer{
        width: 100%;
    }
    .logoimg img{
        margin-left: 8em;
        width: 15%;
    }
    .logotext{
        width: 40%;
        text-align: center;
        margin-left: 1.5em;
    }
    .t1{
        margin-left: 20em;
        margin-top: -10em;
        margin-bottom: 1em;
    }
    .contactos img{
        width: 3.5%;
        margin-left: 25em;
    }
    .contactos p{
        margin-left: 27em;
    }
    .t2{
        margin-left: 12em;
        margin-top: 1em;
    }
    .contador{
        margin-left: 21em;
    }
    .copy{
        margin-top: 1em;
    }
}
/*----------------------------------- Computadora -------------------------------------------------------*/ 
@media (min-width:1280px) {  
    .nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        font-size:25px;
    }
    
    .header .nav ul li {
        float: left;
        position: relative;
        z-index: 1;
    }
    
    .header .nav ul li a {
        font-family: 'hola'; 
        font-size: 25px;
        color: #fff;
        text-decoration: none;
        padding: 18px;
        display: flex;
        transition: all 0.2s ease;
        position: relative; 
    }
    
    .header .nav ul li a:hover {
        background-color:  #2b2d9c
    }
    
    /* SUBMENU */
    .header .nav ul li ul {
        width: 200px;
        display: none; 
        flex-direction: column;
        background-color: #1e1f7c;
        position: absolute;
        left: 0;
        top: 100%;
        padding: 14px 0;
        visibility: hidden;
        opacity: 0;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
        z-index: 100; 
        transition: all 300ms ease;
    }
    
    .header .nav ul li:hover ul {
        display: block; 
        visibility: visible;
        opacity: 1;
    }
    
    .nav ul li ul li a {
        display: block;
        color: #0099E9;
        padding: 10px 20px; 
        margin-top: 10px;
        font-size: 16px; 
        text-decoration: none;
        transition: all 300ms ease;
    }
    
    .nav ul li ul li a:hover {
        background-color: #5c5d97;
        color: #fff;
        transform: scale(1.1);
        padding-left: 30px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    }
    .header{ 
        /* position: fixed;*/
        background-color:  #2b2d9c;
        top: 0;
        left: 0;
        right: 0;
        padding: 0 3em;
        display: flex; 
        align-items: center;
        justify-content: space-between;
        z-index: 1000;  
        box-sizing: inherit;  
    }
    .logo img{
        height: 7em;
        width: 7em; 
        display:flex; 
        padding: 1em; 
    }
    /*CARRUSEL*/
    #toggle
    .slider-box{ 
        width: 100%;
        height: 100vh;
        margin: 50px auto 0;
    }

    .slider-box ul{
        display: flex;
        padding: 0;
        width: 400%;
        animation:slide 15s infinite alternate ease-in-out;
    }

    .slider-box li{
        width: 100%;
        list-style: none;
        position:relative;
    }

    .slider-box img{
        width: 100%;
        height: 100vh;
    } 
    @keyframes slide {
        0% { margin-left: 0; }
        20% { margin-left: 0; }

        25% { margin-left: -100%;}
        45% { margin-left: -100%;}

        50% { margin-left: -200%;}
        70% { margin-left: -200%;}

        75% { margin-left: -300%;}
        100% { margin-left: -300%;}
    }  
    .Anuncios {
        left: 3em;
        display: flex;
        position: relative;
    }
    .sec1{
        background-color: #fff;
        display: flex;
        bottom: 1.5em;
        position: absolute;
        height: 15vw;
        width: 15vw;
        border-radius: 5%;
        margin-left: 28%;
        margin-top: 22%;
    }
    .sec1 img{
        display: grid;
        place-items: center;
        height: 95%;
        width: 95%;
        margin-left:0.5em;
        margin-top: 0.5em;
        border-radius: 5%;
    }
    .sec1 img:hover{
        transform: scale(1.1);
    }
    .sec2{
        background-color: #fff;
        display: flex;
        bottom: 1.5em;
        position: absolute;
        height: 15vw;
        width: 15vw;
        border-radius: 5%;
        margin-left: 2.5%;
    }
    .sec2 img{
        display: grid;
        place-items: center;
        height: 95%;
        width: 95%;
        margin-left: 0.5em;
        margin-top: 0.5em;
        border-radius: 5%;
    }
    .sec2 img:hover{
        transform: scale(1.1);
    } 
    .sec3{
        background-color: #fff;
        display: flex;
        bottom: 1.5em;
        position: absolute;
        height: 15vw;
        width: 15vw;
        border-radius: 5%;
        margin-left: 53%;
    }
    .sec3 img{
        display: grid;
        place-items: center;
        height: 95%;
        width: 95%;
        margin-left: 0.5em;
        margin-top: 0.5em;
        border-radius: 5%;
    }
    .sec3 img:hover{
        transform: scale(1.1);
    }
    .sec4{
        background-color: #fff;
        display: flex;
        bottom: 1.5em;
        position: absolute;
        height: 15vw;
        width: 15vw;
        border-radius: 5%;
        margin-top: 22%;
        margin-left: 77.5%;
    }
    .sec4 img{
        display: grid;
        place-items: center;
        height: 95%;
        width: 95%;
        margin-left: 0.5em;
        margin-top: 0.5em;
        border-radius: 5%;
    }
    .sec4 img:hover{
        transform: scale(1.1);
    }
    #popup-container {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
    }
    
    #popup-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(255, 255, 255, 0.75);
        padding: 50px 50px;
        max-width: 100%;
        max-height: 100%;
        z-index: 1001;
    }
    
    #popup-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1000; 
    }
    #popup-content .img1 img {
        max-width: 100%; 
        width: 500px; 
        height: auto; 
    }
    /*----FOOTER----*/
    .contador{
        margin-left: 73em;
        margin-top: 2em;
        width: 10%;
    } 
    footer{
        width: 100%;
    }
    .t2{
        margin-top: -10em;
    }
    .copy{
        margin-top: 12em;
    }
}   
/* menu de navegacion*/




.block-scroll {
    overflow: hidden;
}
/*AAAAA*/

#toggle,

.header label {
    display: none;
    cursor: pointer;    
}

.header label img{
    height: 30px;
    width: 30px;
    color: rgb(255, 174, 0);
} 

@media(max-width:1080px){
    .header label{ 
        display: initial;    
        left: 0;  
    }
    .header{
        padding: 5px 5.7%; 
        left: 0;
        position: absolute;
    }

    .header .nav{
        position: absolute;
        top: 100%;                  
        left: 0;
        background-color: #5c5d97;
        display: none; 
        width: 100%;
    }   
    .header .nav ul li{
        width: 100%;

    }
    .header .nav ul li a{
        font-family: hola;
        padding: 6px 30px 6px 7%;
        font-size: 20px;
        color: #fff;
        text-decoration: none;
        display: block;
        transition: all .2s ease;
    } 
    /*SUBMENU*/
    .header .nav ul li ul {
        position: absolute;
        left: 4em;
        
    } 
    .header .nav ul li ul li{
        position: relative;
    } 
    .header .nav ul li:hover ul { 
        visibility: visible;
        opacity: 1;
        display: absolute; 
    }
    .header .nav ul li ul li a{
        display: block;
        padding: 5px; 
        text-decoration: none;
    }
    
    #toggle:checked ~ .nav{ 
        display: block;
        left: 0;
    }  
    #popup-container {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
    }
    
    #popup-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(255, 255, 255, 0.75);
        padding: 50px 50px;
        max-width: 100%;
        max-height: 100%;
        z-index: 1001;
    }
    
    #popup-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1000; 
    }
    #popup-content .img1 img {
        max-width: 100%; 
        width: 500px; 
        height: auto; 
    } 
}
.titubody{
    color: #1C1266;
    font-size: 3em;
    text-align: center;
    font-family: lbody;
    font-weight: bold;
    margin-top: 15px;
}
.cuerbody{
    text-align: justify;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 10px;
    font-family: lbody;
    font-size: 1.5em;
    color: #000000;
    text-indent: 3em;
}
body{
    min-height: 100vh;
    box-sizing: border-box;
    background-color: lightgrey;
    font-family: lbody;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}   
.filadire {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 50px; 
}

/* Estilos generales para los rectángulos */
.rectan {
    width: 170px;
    height: 80px;
    border-width: 2px;
    border-style: solid;
    border-color: #2a6a7a;
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 20px 15px 7px #51829C;
    margin-top: 1.5em;
    text-align: center;
}

/* Ajustes para el texto dentro de los rectángulos */
.txtdire, .txtvice, .txtsec, .txtprose, .txtpre1, .txtpre2 {
    margin: 0;
}
@media  screen and (min-width:1920px) {
    /*----FOOTER----*/
    footer{
        width: 100%;
    }
    .logoimg img{
        margin-left: 18em;
    }
    .logotext{
        margin-left: 10em;
    }
    .t1{
        margin-left: 35em;
    }
    .contactos img{
        margin-left: 47em;
    }
    .contactos p{
        margin-left: 50em;
    }
    .t2{
        margin-left: 58em;
        margin-top: -12.5em;
    }
    .contador{
        margin-left: 93.5em;
        margin-top: 3em;
    }
    .copy{
        margin-top: 15em;
    }
}