*{
    box-sizing: border-box;
    margin: 0;
    top: 0;
}
@font-face {
    font-family: lfooter;
    src: url(imagenfooter/Belleza-Regular.ttf);
}
@font-face {
    font-family: lbody;
    src: url(imagenfooter/Montserrat-Regular.ttf);
}
@font-face {
    font-family: lheader;
    src: url(imagenes/Buried\ Hopper.ttf);
}
/*....................DISEÑO..GENERAL....................*/
/*----HEADER----*/
header{
    background-color: #2b2d9c;
    height: 5em;
}
.titulo{
    padding-top: 1em;
    font-size: 60px;
    font-family: lheader;
    color: #FFFFFF;
    text-align: center;
}
.inicio p{
    color: #fff;
    position: relative;
    display: flex;
    left: 0.5em;
    bottom: 2em;
    padding-top: 1.5em;
    margin-top: 0.5em;
    margin-left: -5.2em;
    font-family: lheader;
    font-size: 20px;
}
.loesc img{
    display: flex;
    position: absolute;
    width: 8%;
    margin-top: 0.5em;
    margin-left: 0.5em;
}
/*----BODY----*/
body{
    background-color: rgb(203, 206, 236);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    overflow-x: hidden;
}
/*BOTON HACIA ARRIBA*/
.regresar img {
    width: 40px;
    border: none; 
}
.regresar {
    background-color: transparent;
    position: fixed;
    right: 20px;
    opacity: 0;
    transform: translateX(120px);
    transition: all .25s;
    cursor: pointer;
    z-index: 100;
    top: 88vh;
    height: 10vh;
}
.visible {
    opacity: 1;
    transform: translateX(0);
    border: none;
}
/*----FOOTER----*/
footer{
    background-color: #93b2d2;
    color: #000000;
}
.logoimg img{
    position: relative;
    width: 8%;
    margin-left: 5em;
    margin-top: 1.5em;
}
.logotext{
    position: relative;
    font-family: lfooter;
    font-size: 20px;
    margin-left: 6.5em;
}
.titulofoo{
    font-family: lfooter;
    font-size: 25px;
    font-weight: bold;
}
.t1{
    position: relative;
    margin-top: -9em;
    margin-left: 28em;
}
.contactos img{
    position: relative;
    width: 2%;
    margin-left: 12.5em;
}
.contactos p{
    position: relative;
    font-family: lfooter;
    font-size: 17px;
    margin-left: 39em;
}
.mapatext p{
    margin-top: -2em;
}
.telimg img{
    margin-top: 0.5em;
}
.teltext p{
    margin-top: -2em;
}
.whatimg img{
    margin-top: 0.5em;
}
.whattext p{
    margin-top: -2em;
}
.correoimg img{
    margin-top: 0.5em;
}
.correotext1 p{
    margin-top: -2.7em;
}
.instaimg img{
    margin-top: 0.3em;
}
.instatext p{
    margin-top: -2em;
}
.t2{
    margin-top: -11em;
    margin-left: 45em;
}
.contador{
    position: relative;
    display: flex;
    margin-left: 10em;
    font-size: 20px;
    margin-top: 1em;
    font-family: lfooter;
}
.foolegal{
    background-color: #6a849e;
    font-size: 15px;
    font-family: lfooter;
}
.copy{
    margin-top: 15em;
}

/*---------------ESPACIO QUE OCUPA LA IMAGEN---------------*/

@media (min-width:900px){
    .grid-item-wide{
        grid-column: span 2;
    }

    .grid-item-tall{
        grid-row: span 2 ;
    }
}
/*-------------------COMPUTADORA GRANDE-------------------*/
@media  screen and (min-width:1920px) {
    /*----HEADER----*/    
    .inicio{
        margin-top: -0.8em;
        margin-left: 3.6em;
    }
    .titulo{
        margin-top: -30px;
        font-size: 60px;
        font-family: lheader;
        color: #FFFFFF;
        text-align: center;
    }
    /*----BODY----*/
    body {
        margin: 0;
        font-family: lbody;
    }
    .grid-item.expanded,
    .grid-item-wide.expanded {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(2); /* Ajusta la escala según sea necesario */
        z-index: 1000;
        height: auto; /* Mantiene la relación de aspecto */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .años {
        display: flex;
        margin-top: 0.8em;
        margin-bottom: 0.8em;
        justify-content: center;
        font-size: 30px;
        color:#fff;
        background-color: #4543c9;       
        color: #ffffff;
        transition: all 0.5s ease ;
        font-family: lbody;
        text-align: center;
    }  
    .subtitulos {
        display: flex;
        margin-top: 0.8em;
        margin-bottom: 0.8em;
        justify-content: center;
        font-size: 30px;
        color:#fff;
        background-color: #6e6cee;
        font-family: lbody;
        text-align: center;
    }  
    .grid-item{
        display: flex;
        align-items: center;
        justify-content: center;
    
        background-color: #03afff;
        border-radius: 4px;
        transition: transform 0.3s ease-in-out;
       
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .grid-item:hover {
        transform: scale(1.02);
    }
    .grid-item-wide{
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: #282c34;
        border-radius: 4px;
        transition: transform 0.4s ease-in-out;
       
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .grid-item-wide:hover {
        transform: scale(1.02);
    }
    .grid-item-tall{
        display: flex;
        align-items: center;
        justify-content: center;
    
        background-color: #282c34;
        border-radius: 4px;
        transition: transform 0.3s ease-in-out;
       
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .grid-item-tall:hover {
        transform: scale(1.02);
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
        grid-auto-rows: minmax(600px, auto);
        gap: 30px;
        padding: 30px;
        grid-auto-flow: dense;
    }
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }
    .overlay-content {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .overlay-content img {
        max-width: 100%;
        max-height: 100%;
        border: 5px solid white;
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
        grid-auto-rows: minmax(600px, auto);
        gap: 30px;
        padding: 30px;
        grid-auto-flow: dense;
    }
    .container {
        display: flex;
        justify-content: center; 
        align-items: center;
        padding: 0.4em;  
    }
    /*----FOOTER----*/
    footer{
        width: 100%;
    }
    .logoimg img{
        margin-left: 6em;
    }
    .logotext{
        margin-left: 10em;
    }
    .t1{
        margin-left: 35em;
        margin-top: -10em;
    }
    .contactos img{
        margin-left: 16em;
    }
    .contactos p{
        margin-left: 50em;
    }
    .t2{
        margin-left: 58em;
        margin-top: -12.5em;
    }
    .contador{
        margin-left: 74em;
        margin-top: 2em;
    }
    .copy{
        margin-top: 16em;
    }
}
@media screen and (min-width:1366px) and (max-width:1900px) {
    /*----HEADER----*/
    header{
        background-color: #2b2d9c;
        width: 100%;     
        z-index: 100;    
    }
    .inicio{
        margin-top: -1.7em;
        margin-left: 3.2em;
    }
    /*----BODY----*/
    body {
        margin: 0;
        font-family: lbody;
    }
    .titulo{
        margin-top: -30px;
        font-size: 60px;
        font-family: lheader;
        color: #FFFFFF;
        text-align: center;
    }
    .grid-item.expanded,
    .grid-item-wide.expanded {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(2); /* Ajusta la escala según sea necesario */
        z-index: 1000;
        height: auto; /* Mantiene la relación de aspecto */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .años {
        display: flex;
        margin-top: 0.8em;
        margin-bottom: 0.8em;
        justify-content: center;
        font-size: 30px;
        color:#fff;
        background-color: #4543c9;       
        color: #ffffff;
        transition: all 0.5s ease ;
        font-family: lbody;
        text-align: center;
    }  
    .subtitulos {
        display: flex;
        margin-top: 0.8em;
        margin-bottom: 0.8em;
        justify-content: center;
        font-size: 30px;
        color:#fff;
        background-color: #6e6cee;
        font-family: lbody;
        text-align: center;
    } 
    .grid-item{
        display: flex;
        align-items: center;
        justify-content: center;
    
        background-color: #03afff;
        border-radius: 4px;
        transition: transform 0.3s ease-in-out;
       
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .grid-item:hover {
        transform: scale(1.02);
    }
    .grid-item-wide{
        display: flex;
        align-items: center;
        justify-content: center;
    
        background-color: #282c34;
        border-radius: 4px;
        transition: transform 0.4s ease-in-out;
       
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .grid-item-wide:hover {
        transform: scale(1.02);
    }
    .grid-item-tall{
        display: flex;
        align-items: center;
        justify-content: center;
    
        background-color: #282c34;
        border-radius: 4px;
        transition: transform 0.3s ease-in-out;
       
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .grid-item-tall:hover {
        transform: scale(1.02);
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
        grid-auto-rows: minmax(600px, auto);
        gap: 30px;
        padding: 30px;
        grid-auto-flow: dense;
    }
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }
    .overlay-content {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .overlay-content img {
        max-width: 100%;
        max-height: 100%;
        border: 5px solid white;
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
        grid-auto-rows: minmax(600px, auto);
        gap: 30px;
        padding: 30px;
        grid-auto-flow: dense;
    }
    .container {
        display: flex;
        justify-content: center; 
        align-items: center;
        padding: 0.4em;
       
    }
    /*----FOOTER----*/
    .contador{
        margin-left: 73em;
        margin-top: 2em;
        width: 10%;
    } 
    footer{
        width: 100%;
    }
    .t2{
        margin-top: -11.5em;
    }
    .contador{
        margin-left: 57.7em;
    }
    .copy{
        margin-top: 14em;
    }
}
/*-----------------------COMPUTADORA---------------------*/
@media screen and (min-width:1024px) and (max-width:1365px) {
    /*----HEADER----*/
    header{
        background-color: #2b2d9c;
        width: 100%;
        z-index: 100;
    }
    .inicio p{
        margin-top: -4.5em;
        margin-left: 3.3em;
        font-size: 15px;
    }
    /*----BODY----*/
    body {
        margin: 0;
        font-family: lbody;
    }
    .titulo{
        margin-top: -30px;
        font-size: 60px;
        font-family: lheader;
        color: #FFFFFF;
        text-align: center;
    }
    .grid-item.expanded,
    .grid-item-wide.expanded {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(2); /* Ajusta la escala según sea necesario */
        z-index: 1000;
        height: auto; /* Mantiene la relación de aspecto */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .años {
        display: flex;
        margin-top: 0.8em;
        margin-bottom: 0.8em;
        justify-content: center;
        font-size: 30px;
        color:#fff;
        background-color: #4543c9;       
        color: #ffffff;
        transition: all 0.5s ease ;
        font-family: lbody;
        text-align: center;
    }  
    .subtitulos {
        display: flex;
        margin-top: 0.8em;
        margin-bottom: 0.8em;
        justify-content: center;
        font-size: 30px;
        color:#fff;
        background-color: #6e6cee;
        font-family: lbody;
        text-align: center;
    } 
    .grid-item{
        display: flex;
        align-items: center;
        justify-content: center;
    
        background-color: #03afff;
        border-radius: 4px;
        transition: transform 0.3s ease-in-out;
       
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .grid-item:hover {
        transform: scale(1.02);
    }
    .grid-item-wide{
        display: flex;
        align-items: center;
        justify-content: center;
    
        background-color: #282c34;
        border-radius: 4px;
        transition: transform 0.4s ease-in-out;
       
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .grid-item-wide:hover {
        transform: scale(1.02);
    }
    .grid-item-tall{
        display: flex;
        align-items: center;
        justify-content: center;
    
        background-color: #282c34;
        border-radius: 4px;
        transition: transform 0.3s ease-in-out;
       
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .grid-item-tall:hover {
        transform: scale(1.02);
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
        grid-auto-rows: minmax(600px, auto);
        gap: 30px;
        padding: 30px;
        grid-auto-flow: dense;
    }
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }
    .overlay-content {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .overlay-content img {
        max-width: 100%;
        max-height: 100%;
        border: 5px solid white;
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
        grid-auto-rows: minmax(600px, auto);
        gap: 30px;
        padding: 30px;
        grid-auto-flow: dense;
    }
    .container {
        display: flex;
        justify-content: center; 
        align-items: center;
        padding: 0.4em;  
    }
    /*----FOOTER----*/
    .logoimg{
        margin-left: -2em;
    }
    .logotext{
        margin-left: 1em;
    }
    .t1{
        margin-left: 20em;
        margin-top: -8em;
    }
    .contactos img{
        margin-left: 8.5em;
    }
    .contactos p{
        margin-left: 27em;
    }
    footer{
        width: 100%;
    }
    .t2{
        margin-top: -9.8em;
        margin-left: 32em;
    }
    .contador{
        margin-left: 41.5em;
        margin-top: 1em;
        width: 10%;
    } 
    .copy{
        margin-top: 12em;
    }
}
/*-------------------TABLET-------------------------*/
@media (min-width:421px) and (max-width:1023px){
    /*----HEADER----*/
    header{
        height: 3em;
    }
    .titulo h1{
        margin-top: -0.3em;
        font-size: 35px;
        font-family: lheader;
        color: #FFFFFF;
        text-align: center;
    }
    .loesc img{
        width: 1.3em;
        margin-top: 0.3em;
        margin-left: 0.3em;
    }
    .inicio p{
        margin-top: -1em;
        margin-left: 2.7em;
        font-size: 12px;
    }
    /*----BODY----*/
    .grid-item.expanded,
    .grid-item-wide.expanded {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(5); 
        z-index: 1000;
        height: auto; 
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    } 
    .overlay-content {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .overlay-content img {
        max-width: 100%;
        max-height: 100%;
        border: 5px solid white;
    }
    .años {
        display: flex;
        margin-top: 0.8em;
        margin-bottom: 0.8em;
        justify-content: center;
        font-size: 19px;
        color:#fff;
        background-color: #4543c9;
        text-align: center;
        color: #ffffff;
        transition: all 0.5s ease ;
        font-family: lbody;
    }
    .subtitulos {
        display: flex;
        margin-top: 0.8em;
        margin-bottom: 0.8em;
        justify-content: center;
        font-size: 17px;
        color:#fff;
        background-color: #6e6cee;
        text-align: center;
        font-family: lbody;
    }
    .grid-item{
        display: flex;
        align-items: center;
        justify-content: center;
    
        background-color: #03afff;
        border-radius: 4px;
        transition: transform 0.3s ease-in-out;
       
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .grid-item:hover {
        filter: opacity(0.9);
        transform: scale(1.02);
    }
    .grid-item-wide{
        display: flex;
        align-items: center;
        justify-content: center;
    
        background-color: #282c34;
        border-radius: 4px;
        transition: transform 0.3s ease-in-out;
       
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .grid-item-wide:hover {
        filter: opacity(0.9);
        transform: scale(1.02);
    }
    .grid-item-tall{
        display: flex;
        align-items: center;
        justify-content: center;
    
        background-color: #282c34;
        border-radius: 4px;
        transition: transform 0.3s ease-in-out;
       
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .grid-item-tall:hover {
        filter: opacity(0.9);
        transform: scale(1.02);
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(auto, 1fr)); /*tamaño de las imagenes*/ /*fr medida que ocupa el espacio que sobra*/ /*auto-fit es para que las imagenes si son pocas llenen todo el espacio*/
        grid-auto-rows: minmax(340px, auto); /*alto de las imagenes*/ /*minmax (auto) para que se acomode automaticamente*/
        gap:12px; /*separacion entre las imagenes*/
        padding: 12px; /*separacion de los bordes de la pantalla y las imagenes*/
        grid-auto-flow: dense; /*acomoda las imagnes para que no quedes espacios*/ 
    }
    .container {
        display: flex;
        justify-content: center; 
        align-items: center;
        padding: 0.4em;  
    }
    /*----FOOTER----*/
    footer{
        width: 100%;
    }
    .logoimg img{
        width: 30%;
        margin-left: 3em;
        margin-top: 0.5em;
    }
    .logotext{
        text-align: center;
        font-size: 15px;
        margin-left: 0.5em;
    }
    .t1{
        margin-left: 6em;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .contactos img{
        margin-left: 1.5em;
        width: 6%;
    }
    .contactos p{
        margin-left: 8em;
        font-size: 15px;
    }
    .t2{
        margin-left: 4.5em;
        margin-top: 1em;
    }
    .contador{
        margin-left: 7em;
    }
    .copy{
        margin-top: 1em;
    }
}
/*-------------------CELULAR----------------------*/
@media only screen and (max-width: 420px) {
    /*----HEADER----*/
    header{
        height: 3em;
    }
    .titulo h1{
        margin-top: -0.3em;
        font-size: 35px;
        font-family: lheader;
        color: #FFFFFF;
        text-align: center;
    }
    .loesc img{
        width: 1.3em;
        margin-top: 0.3em;
        margin-left: 0.3em;
    }
    .inicio p{
        margin-top: -1em;
        margin-left: 2.7em;
        font-size: 12px;
    }
    /*----BODY----*/
    .grid-item.expanded,
    .grid-item-wide.expanded {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2); /* Ajusta la escala según sea necesario */
    z-index: 1000;
    height: auto; /* Mantiene la relación de aspecto */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }
    .overlay-content {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .overlay-content img {
        max-width: 100%;
        max-height: 100%;
        border: 5px solid white;
    }
    .años {
        display: flex;
        margin-top: 0.8em;
        margin-bottom: 0.8em;
        justify-content: center;
        font-size: 14px;
        color:#fff;
        background-color: #4543c9;
        font-family: lbody;
        color: #ffffff;
        transition: all 0.5s ease ;
        text-align: center;
    }
    .subtitulos {
        display: flex;
        margin-top: 0.8em;
        margin-bottom: 0.8em;
        justify-content: center;
        font-size: 12px;
        color:#fff;
        background-color: #6e6cee;
        font-family: lbody;
        text-align: center;
       
    }  
    .grid-item{
        display: flex;
        align-items: center;
        justify-content: center;
    
        background-color: #03afff;
        border-radius: 4px;
        transition: transform 0.3s ease-in-out;
       
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }   
    .grid-item:hover {
        filter: opacity(0.9);
        transform: scale(1.02);
    }
    .grid-item-wide{
        display: flex;
        align-items: center;
        justify-content: center;
    
        background-color: #282c34;
        border-radius: 4px;
        transition: transform 0.3s ease-in-out;
       
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .grid-item-wide:hover {
        filter: opacity(0.9);
        transform: scale(1.02);
    }
    .grid-item-tall{
        display: flex;
        align-items: center;
        justify-content: center;
    
        background-color: #282c34;
        border-radius: 4px;
        transition: transform 0.3s ease-in-out;
       
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .grid-item-tall:hover {
        filter: opacity(0.9);
        transform: scale(1.02);
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat (auto-fill, minmax(260px, 1fr)); /*tamaño de las imagenes*/ /*fr medida que ocupa el espacio que sobra*/ /*auto-fit es para que las imagenes si son pocas llenen todo el espacio*/
        grid-auto-rows: minmax(250px, auto); /*alto de las imagenes*/ 
        gap:10px; /*separacion entre las imagenes*/
        padding: 10px; /*separacion de los bordes de la pantalla y las imagenessd*/
        grid-auto-flow: dense; /*acomoda las imagnes para que no quedes espacios*/ 
    }
    .container {
        display: flex;
        justify-content: center; 
        align-items: center;
        padding: 0.4em;
    }
    a.VOLVER {
        color: #ffffff; 
        text-decoration: none; 
        background-color: #4543c9;  
        font-family: lbody;
        display: inline-block; 
        padding: 5px 10px; 
        border-radius: 5em; 
        border: 2px solid #000;
        text-align: center;
        font-size: x-large;
    }
    /*----FOOTER----*/
    footer{
        width: 100%;
    }
    .logoimg img{
        width: 30%;
        margin-left: 3em;
        margin-top: 0.5em;
    }
    .logotext{
        text-align: center;
        font-size: 15px;
        margin-left: 0.5em;
    }
    .t1{
        margin-left: 6em;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .contactos img{
        margin-left: 1.5em;
        width: 6%;
    }
    .contactos p{
        margin-left: 8em;
        font-size: 15px;
    }
    .t2{
        margin-left: 4.5em;
        margin-top: 1em;
    }
    .contador{
        margin-left: 7em;
    }
    .copy{
        margin-top: 1em;
    }
}





