*{
    box-sizing: border-box;
    margin: 0;
    top: 0;
}
/*AAAAAAAAA*/
.clickable-img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease; /* Transición suave para el agrandamiento */
}

/* CSS para el estilo ampliado de la imagen */
.clickable-img.expanded {
    transform: scale(1.5); /* Ajusta el factor de escala según tus necesidades */
    z-index: 1000; /* Asegúrate de que la imagen ampliada esté encima de otras */
    position: relative; /* Necesario para el efecto de escala */
}
/*AAAAAAAAAA*/
/*---------espacios que ocupa la imagen------------------*/

@media (min-width:900px){
    .grid-item-wide{
        grid-column: span 2;
    }

    .grid-item-tall{
        grid-row: span 2 ;
    }
}

/*-----------------------COMPUTADORA---------------------*/

@media (min-width:1300px) {

    .titulo{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:#FFFFFF;
    font-weight: bold;
    font-size: 4em;
    padding: 2em;
    background-color:#2b2d9c ;
    background-repeat: no-repeat;
    height: 00px;
    width: 100%;
    display: flex;
    }

    .años {
        display: flex;
        margin-top: 0.8em;
        margin-bottom: 0.8em;
        justify-content: center;
        font-size: 30px;
        color:#fff;
        background-color: #2a6a7a;
       
        color: #ffffff;
        transition: all 0.5s ease ;
    }
    
    .años:hover{
        background-color: #fff;
        color: #1b454d;
    }

    .subtitulos {
        display: flex;
        margin-top: 0.8em;
        margin-bottom: 0.8em;
        justify-content: center;
        font-size: 30px;
        color:#fff;
        background-color: #498291;
       
    }

     
    .grid-item{
        display: flex;
        align-items: center;
        justify-content: center;
    
        background-color: #03afff;
        border-radius: 4px;
        transition: transform 0.3s ease-in-out;
       
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .grid-item:hover {
        filter: opacity(0.9);
        transform: scale(1.02);
       }

    .grid-item-wide{
        display: flex;
        align-items: center;
        justify-content: center;
    
        background-color: #282c34;
        border-radius: 4px;
        transition: transform 0.4s ease-in-out;
       
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .grid-item-wide:hover {
        filter: opacity(0.9);
        transform: scale(1.02);
       }

    .grid-item-tall{
        display: flex;
        align-items: center;
        justify-content: center;
    
        background-color: #282c34;
        border-radius: 4px;
        transition: transform 0.3s ease-in-out;
       
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .grid-item-tall:hover {
        filter: opacity(0.9);
        transform: scale(1.02);
       }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr)); /*tamaño de las imagenes*/ /*fr medida que ocupa el espacio que sobra*/ /*auto-fit es para que las imagenes si son pocas llenen todo el espacio*/
        grid-auto-rows: minmax(600px, auto); /*alto de las imagenes*/ /*minmax (auto) para que se acomode automaticamente*/
        gap:30px; /*separacion entre las imagenes*/
        padding: 30px; /*separacion de los bordes de la pantalla y las imagenes*/
        grid-auto-flow: dense; /*acomoda las imagnes para que no quedes espacios*/ 
    }

}

/*-------------------TABLET-------------------------*/

@media (min-width:421px) and (max-width:1299px){

    .titulo{
        justify-content: center;
        display: flex;
        margin-top: -2.7em;
        margin-bottom: 1em;
        margin-left: 3.6em;
        font-size: 20px;
        color:#fff;
        font-family: letra;
        transition: all 0.3s ease;
    }

    .titulo:hover{
        color: #bfbfd1 ;
    }

    .buttonn{
        width: 6%;
        height: 10vh;
        background-color: transparent;
        border: none;
        position: fixed;
        border:0;
        display: block;
    }
    
    .buttonn img{
        transition-duration: 0.5;
        height: 8.7em;
        border: 0;
        margin: -1.1em;
        cursor: pointer;
        width: 8.7em;     
        background-color: transparent;
        background-repeat: no-repeat;
        object-fit: fill;
        position: fixed; 
        margin-top: 2em;
        margin-bottom: 1.8em;
        display: block;
    }

    .años {
        display: flex;
        margin-top: 0.8em;
        margin-bottom: 0.8em;
        justify-content: center;
        font-size: 14px;
        color:#fff;
        background-color: #2a6a7a;
       
        color: #ffffff;
        transition: all 0.5s ease ;
    }
    
    .años:hover{
        background-color: #fff;
        color: #1b454d;
    }

    .subtitulos {
        display: flex;
        margin-top: 0.8em;
        margin-bottom: 0.8em;
        justify-content: center;
        font-size: 16px;
        color:#fff;
        background-color: #498291;
       
    }

    .grid-item{
        display: flex;
        align-items: center;
        justify-content: center;
    
        background-color: #03afff;
        border-radius: 4px;
        transition: transform 0.3s ease-in-out;
       
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .grid-item:hover {
        filter: opacity(0.9);
        transform: scale(1.02);
       }

    .grid-item-wide{
        display: flex;
        align-items: center;
        justify-content: center;
    
        background-color: #282c34;
        border-radius: 4px;
        transition: transform 0.3s ease-in-out;
       
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .grid-item-wide:hover {
        filter: opacity(0.9);
        transform: scale(1.02);
       }

    .grid-item-tall{
        display: flex;
        align-items: center;
        justify-content: center;
    
        background-color: #282c34;
        border-radius: 4px;
        transition: transform 0.3s ease-in-out;
       
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .grid-item-tall:hover {
        filter: opacity(0.9);
        transform: scale(1.02);
       }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 2fr)); /*tamaño de las imagenes*/ /*fr medida que ocupa el espacio que sobra*/ /*auto-fit es para que las imagenes si son pocas llenen todo el espacio*/
        grid-auto-rows: minmax(340px, auto); /*alto de las imagenes*/ /*minmax (auto) para que se acomode automaticamente*/
        gap:12px; /*separacion entre las imagenes*/
        padding: 12px; /*separacion de los bordes de la pantalla y las imagenes*/
        grid-auto-flow: dense; /*acomoda las imagnes para que no quedes espacios*/ 
    }
}

/*--------------------CELULAR----------------------*/

@media (max-width:420px) and (orientation:portrait) {

    .titulo{
        justify-content: center;
        display: flex;
        margin-top: -2.1em;
        margin-bottom: 2.1em;
        margin-left: 4.8em;
        font-size: 12px;
        color:#fff;
        font-family: letra;
        transition: all 0.3s ease;
    }

    .titulo:hover{
        color: #bfbfd1 ;
    }

    .buttonn{
        width: 6%;
        height: 10vh;
        background-color: transparent;
        border: none;
        position: fixed;
        border:0;
        display: block;
    }
    
    .buttonn img{
        transition-duration: 0.5;
        height: 8.7em;
        border: 0;
        margin: -1.1em;
        cursor: pointer;
        width: 8.7em;     
        background-color: transparent;
        background-repeat: no-repeat;
        object-fit: fill;
        position: fixed; 
        margin-top: 2em;
        margin-bottom: 1.8em;
        display: block;
    }

    .años {
        display: flex;
        margin-top: 0.8em;
        margin-bottom: 0.8em;
        justify-content: center;
        font-size: 9px;
        color:#fff;
        background-color: #2a6a7a;
       
        color: #ffffff;
        transition: all 0.5s ease ;
    }
    
    .años:hover{
        background-color: #fff;
        color: #1b454d;
    }

    .subtitulos {
        display: flex;
        margin-top: 0.8em;
        margin-bottom: 0.8em;
        justify-content: center;
        font-size: 10px;
        color:#fff;
        background-color: #498291;
       
    }
       
    .grid-item{
        display: flex;
        align-items: center;
        justify-content: center;
    
        background-color: #03afff;
        border-radius: 4px;
        transition: transform 0.3s ease-in-out;
       
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
       
    .grid-item:hover {
        filter: opacity(0.9);
        transform: scale(1.02);
       }

    .grid-item-wide{
        display: flex;
        align-items: center;
        justify-content: center;
    
        background-color: #282c34;
        border-radius: 4px;
        transition: transform 0.3s ease-in-out;
       
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .grid-item-wide:hover {
        filter: opacity(0.9);
        transform: scale(1.02);
       }

    .grid-item-tall{
        display: flex;
        align-items: center;
        justify-content: center;
    
        background-color: #282c34;
        border-radius: 4px;
        transition: transform 0.3s ease-in-out;
       
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .grid-item-tall:hover {
        filter: opacity(0.9);
        transform: scale(1.02);
       }

    .grid-container {
        display: grid;
        grid-template-columns: repeat (auto-fill, minmax(260px, 1fr)); /*tamaño de las imagenes*/ /*fr medida que ocupa el espacio que sobra*/ /*auto-fit es para que las imagenes si son pocas llenen todo el espacio*/
        grid-auto-rows: minmax(250px, auto); /*alto de las imagenes*/ /*minmax (auto) para que se acomode automaticamente*/
        gap:10px; /*separacion entre las imagenes*/
        padding: 10px; /*separacion de los bordes de la pantalla y las imagenes*/
        grid-auto-flow: dense; /*acomoda las imagnes para que no quedes espacios*/ 
    }

}


.button{ 
    background-color: transparent;
    border: 0;  
    width: 6%;
    height: 10vh;
    display: block;
}

.button img{ 
    transition-duration: 0.5;
    height: 8.7em;
    border: 0;
    margin: -1.1em;
    cursor: pointer;
    width: 8.7em;     
    background-color: transparent;
    background-repeat: no-repeat;
    object-fit: fill;
    position: relative; 
    margin-top: -1em;
    margin-bottom: 1.8em;
    display: block;
}

.button:hover {
 color: #000;
 opacity: 0.5;
}

body{
    background-image: linear-gradient(#65afc5, #2a6670, #17313d );
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
}

.buttonn{
    width: 6%;
    height: 10vh;
    background-color: transparent;
    border: none;
    position: fixed;
    border:0;
    display: block;
}

.buttonn img{
    transition-duration: 0.5;
    height: 8.7em;
    border: 0;
    margin: -1.1em;
    cursor: pointer;
    width: 8.7em;     
    background-color: transparent;
    background-repeat: no-repeat;
    object-fit: fill;
    position: fixed; 
    margin-top: -1em;
    margin-bottom: 1.8em;
    display: block;
}
@font-face{
    font-family: letra;
    src: url("imagenes/Buried\ Hopper.ttf");
}

@font-face {
    font-family: chulo;
    src: url(Vogue.ttf);
}
footer {
    background-color: #0055b6;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.containerfoot {
    display: flex;
    justify-content: space-around;
}

.columna {
    flex: 1;
    margin: 0 50px;
}

.columna h3 {
    font-size: 0.5em;
    margin-bottom: 10px;
}

.columna p {
    font-size: 0.5em;
}
.contactos{
    text-align: left;
}
.imggmail{
    bottom: -20px;
    position: relative;
}
.aaaa{
    left: 35px;
    position: relative;
}
.tel {
    bottom: -8px;
    position: relative;
}
.eetptxt{
    position: relative;
    bottom: 28px;
    left: 35px;
}
.copy{
    text-align: center;
    bottom: -1em;
    position: relative;
}

.copy{
    text-align: center;
    bottom: -1em;
    position: relative;
}


