*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: hola;
    src: url(Imageneshistoria/Vogue.ttf);
}
@font-face {
    font-family: chau;
    src: url(imagenes/Buried\ Hopper.ttf);
}
table{
    border-color: black;
    border-collapse: collapse;
    margin-bottom: 20px;
    width: 70em;
    margin-left: 7em;
    font-family: chau;
}
td{
    border: 1px solid black;
    padding: 2px;
    text-align: left;
}
h3{
    text-align: center;
}
