*{
    margin: 0;
    padding: 0;
    border: 0;
}
/* degradado*/
body{
    background: linear-gradient(to top, #9A9DA2,#00001F);
    text-align: center;
    color: white;
    padding: 16rem 2rem;
    margin: 7rem;
}
.logo1 img{
    margin-top: -36.5%;
    margin-left: -50%;
    height: 7%;
    width: 6%;
    position: absolute;
}
h1{
    margin-top: -35%;
    margin-left: 6%;
}
img.grayscale {
    filter: gray; 
    -webkit-filter: grayscale(100%); 
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    }
img.grayscale:hover {
    filter: none;
    -webkit-filter: grayscale(0%); }
/*rebe*/
.iz1 img{
    width: 15em;
    height: 13em;
    float: left;
    margin-top: 3%;
    border-radius: 2%;
    margin-left: 5%;
}
.centrado{
    position: absolute;
    top: 58%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: transparent;
    width: 33.3%;
    text-align:center;
}
.centrado:hover{
    font-family: 'Courier New', Courier, monospace;
    color: #ffff;
}
/*maxi*/
.de1 img{
    width: 15em;
    height: 13em;
    margin-left: -22.5%;
    margin-top: 3%;
    border-radius: 2%;
}
.centrado2{
   position: absolute;
   top: 58%;
   left: 52%;
   transform: translate(-50%, -50%);
   color: transparent;
   width: 33.3%;
   text-align:center;
}
.centrado2:hover{
   font-family: 'Courier New', Courier, monospace;
   color: #ffff;
}
/*gonza*/
.iz2 img{
    width: 15em;
    height: 13em;
    margin-left: 78%;
    margin-top: -20.5%;
    display: flex;
    border-radius: 2%;
}
.centrado3{
    position: absolute;
    top: 58%;
    left: 81%;
    transform: translate(-50%, -50%);
    color: transparent;
    width: 33.3%;
    text-align:center;
}
.centrado3:hover{
    font-family: 'Courier New', Courier, monospace;
    color: #ffff;
}
/*dana*/
.de2 img{
    width: 15em;
    height: 13em;
    margin-top: 18%;
    border-radius: 2%;
    margin-right: 66%;
}
.centrado4{
    position: absolute;
    top: 118%;
    left: 24%;
    transform: translate(-50%, -50%);
    color: transparent;
    width: 33.3%;
    text-align:center;
}
.centrado4:hover{
    font-family: 'Courier New', Courier, monospace;
    color: #ffff;
}
/*rodri*/
.iz3 img{
    width: 15em;
    height: 13em;
    margin-left: 42%;
    margin-top: -20.7%;
    border-radius: 2%;
    display: flex;
}
.centrado5{
    position: absolute;
    top: 118%;
    left: 52%;
    transform: translate(-50%, -50%);
    color: transparent;
    width: 33.3%;
    text-align:center;
}
.centrado5:hover{
    font-family: 'Courier New', Courier, monospace;
    color: #ffff;
}
/*dylan*/
.de3 img{
    width: 15em;
    height: 13em;
    display: flex;
    margin-top: -20.5%;
    margin-left: 78%;
    border-radius: 2%;
}
.centrado6{
    position: absolute;
    top: 118%;
    left: 81%;
    transform: translate(-50%, -50%);
    color: transparent;
    width: 33.3%;
    text-align:center;
}
.centrado6:hover{
    font-family: 'Courier New', Courier, monospace;
    color: #ffff;
}
.rebe h2{
    float: left;
    margin-top: -62%;
    margin-left: 8.5%;
    font-weight: 300;
}
.maxi h2{
    display: flex;
    margin-left: 42%;
    margin-top: -62%;
    font-weight: 300;
}
.gonza h2{
    display: flex;
    margin-top: -61.5%;
    float: right;
    margin-right: 1%;
    font-weight: 300;
}
.dana h2{
    float: left;
    margin-left: 9%;
    margin-top: -23%;
    font-weight: 300;
}
.rodri h2{
    display: flex;
    margin-left: 45.5%;
    margin-top: 37%;
    font-weight: 300;
}
.dylan h2{
    display: flex;
    margin-top: -23%;
    float: right;
    margin-right: 3.5%;
    font-weight: 300;
}
@font-face{
    font-family: hola;
    src: url(Vogue.ttf);
}
h2{
    font-family: hola;
}
@font-face{
    font-family: portfolio;
    src: url(Vogue.ttf);
}
h1{
    font-family: portfolio;
    font-weight: 400;
    font-size: 300%;
}
.centrado1 p{
    font-family:'Times New Roman', Times, serif ;
}
.instagram{
    width: 7%;
    height: 7%;
    position: relative;
    color: transparent;
}
.facebook{
    width: 7%;
    height: 7%;
    position: relative;
}
.twitter{
    width: 7%;
    height: 7%;
    position: relative;
}
@media (min-width:375px) and (max-width:990px){
    *{
        margin: 0;
        padding: 0;
        border: 0;
    }
    /* degradado*/
    body{
        background: linear-gradient(to top, #9A9DA2,#00001F);
        text-align: center;
        color: white;
        padding: 16rem 2rem;
        margin: 7rem;
    }
    .logo1 img{
        margin-top: -175%;
        margin-left: -50%;
        height: 9%;
        width: 8%;
        position: absolute;
    }
    h1{
        margin-top: -400%;
        margin-left: -65%;
    }
    img.grayscale {
        filter: gray; 
        -webkit-filter: grayscale(100%); 
        -webkit-transition: all 1s ease;
        transition: all 1s ease;
        backface-visibility: hidden;
        width: 100%;
        height: 100%;
        }
    img.grayscale:hover {
        filter: none;
        -webkit-filter: grayscale(0%); }
    /*rebe*/
    .iz1 img{
        width: 5em;
        height: 5em;
        float: left;
        margin-top: 17%;
        border-radius: 2%;
        margin-left: 18%;
    }
    .centrado{
        position: absolute;
        top: 27%;
        left: 53%;
        transform: translate(-50%, -50%);
        color: transparent;
        width: 33.3%;
        text-align:center;
        font-size: 5px;
    }
    .centrado:hover{
        font-family: 'Courier New', Courier, monospace;
        color: #ffff;
    }
    /*maxi*/
    .de1 img{
        width: 5em;
        height: 5em;
        margin-left: 18%;
        margin-top: 79%;
        border-radius: 2%;
    }
    .centrado2{
       position: absolute;
       top: 49%;
       left: 53%;
       transform: translate(-50%, -50%);
       color: transparent;
       width: 33.3%;
       text-align:center;
       font-size: 5px;
    }
    .centrado2:hover{
       font-family: 'Courier New', Courier, monospace;
       color: #ffff;
    }
    /*gonza*/
    .iz2 img{
        width: 5em;
        height: 5em;
        margin-left: 20%;
        margin-top: 70%;
        display: flex;
        border-radius: 2%;
    }
    .centrado3{
        position: absolute;
        top: 70.5%;
        left: 53.5%;
        transform: translate(-50%, -50%);
        color: transparent;
        width: 33.3%;
        text-align:center;
        font-size: 5px;
    }
    .centrado3:hover{
        font-family: 'Courier New', Courier, monospace;
        color: #ffff;
    }
    /*dana*/
    .de2 img{
        width: 5em;
        height: 5em;
        margin-top: 67%;
        border-radius: 2%;
        margin-left: 20%;
    }
    .centrado4{
        position: absolute;
        top: 91.5%;
        left: 54%;
        transform: translate(-50%, -50%);
        color: transparent;
        width: 33.3%;
        text-align:center;
        font-size: 5px;
    }
    .centrado4:hover{
        font-family: 'Courier New', Courier, monospace;
        color: #ffff;
    }
    /*rodri*/
    .iz3 img{
        width: 5em;
        height: 5em;
        margin-left: 22%;
        margin-top: 67%;
        border-radius: 2%;
        display: flex;
    }
    .centrado5{
        position: absolute;
        top: 113%;
        left: 54%;
        transform: translate(-50%, -50%);
        color: transparent;
        width: 33.3%;
        text-align:center;
        font-size: 5px;
    }
    .centrado5:hover{
        font-family: 'Courier New', Courier, monospace;
        color: #ffff;
    }
    /*dylan*/
    .de3 img{
        width: 5em;
        height: 5em;
        display: flex;
        margin-top: 70%;
        margin-left: 23%;
        border-radius: 2%;
    }
    .centrado6{
        position: absolute;
        top: 133.5%;
        left: 54%;
        transform: translate(-50%, -50%);
        color: transparent;
        width: 33.3%;
        text-align:center;
        font-size: 5px;
    }
    .centrado6:hover{
        font-family: 'Courier New', Courier, monospace;
        color: #ffff;
    }
    .rebe h2{
        float: left;
        margin-top: -940%;
        margin-left: 30%;
        font-weight: 30;
        font-size: small;
    }
    .maxi h2{
        display: flex;
        margin-left: 25%;
        margin-top: -770%;
        font-weight: 300;
        font-size: small;
    }
    .gonza h2{
        display: flex;
        margin-top: -605%;
        float: right;
        margin-left: 30%;
        font-weight: 300;
        font-size: small;
    }
    .dana h2{
        float: left;
        margin-left: 30%;
        margin-top: -445%;
        font-weight: 300;
        font-size: small;
    }
    .rodri h2{
        display: flex;
        margin-left: 42%;
        margin-top: 463%;
        font-weight: 300;
        font-size: small;
    }
    .dylan h2{
        display: flex;
        margin-top: -103.5%;
        margin-right: -7.5%;
        font-weight: 300;
        font-size: small;
    }
    @font-face{
        font-family: hola;
        src: url(Vogue.ttf);
    }
    h2{
        font-family: hola;
    }
    @font-face{
        font-family: portfolio;
        src: url(Vogue.ttf);
    }
    h1{
        font-family: portfolio;
        font-weight: 400;
        font-size: 300%;
    }
    .centrado1 p{
        font-family:'Times New Roman', Times, serif ;
    }
    .instagram{
        width: 7%;
        height: 7%;
        position: relative;
        color: transparent;
    }
    .facebook{
        width: 7%;
        height: 7%;
        position: relative;
    }
    .twitter{
        width: 7%;
        height: 7%;
        position: relative;
    }
}
/*
@media(min-width:720px) and (max-width:1280px) {
    *{
        margin: 0;
        padding: 0;
        border: 0;
    }
    body{
        background: linear-gradient(to top, #9A9DA2,#00001F);
        text-align: center;
        color: white;
        padding: 26rem 2rem;
        margin: 11rem;
    }
    .logo1 img{
        margin-top: -100%;
        margin-left: -50%;
        height: 11%;
        width: 11%;
        position: absolute;
    }
    h1{
        margin-top: -140%;
        margin-left: 2%;
    }
    img.grayscale {
        filter: gray; 
        -webkit-filter: grayscale(100%); 
        -webkit-transition: all 1s ease;
        transition: all 1s ease;
        backface-visibility: hidden;
        width: 100%;
        height: 100%;
        }
    img.grayscale:hover {
        filter: none;
        -webkit-filter: grayscale(0%); }
    /*rebe*/
    /*
    .iz1 img{
        width: 9em;
        height: 9em;
        float: left;
        margin-top: 50%;
        border-radius: 2%;
        margin-left: -58%;
    }
    .centrado{
        position: absolute;
        top: 45%;
        left: 15%;
        transform: translate(-50%, -50%);
        color: transparent;
        width: 33.3%;
        text-align:center;
        font-size: small;
    }
    .centrado:hover{
        font-family: 'Courier New', Courier, monospace;
        color: #ffff;
    }
    /*maxi*/
    /*
    .de1 img{
        width: 9em;
        height: 9em;
        margin-top: 50%;
        border-radius: 2%;
        margin-left: 5%;
    }
    .centrado2{
       position: absolute;
       top: 45%;
       left: 51%;
       transform: translate(-50%, -50%);
       color: transparent;
       width: 33.3%;
       text-align:center;
       font-size:small;
    }
    .centrado2:hover{
       font-family: 'Courier New', Courier, monospace;
       color: #ffff;
    }
    /*gonza*/
    /*
    .iz2 img{
        width: 9em;
        height: 9em;
        margin-top: -49%;
        display: flex;
        border-radius: 2%;
        margin-left: 112%;
    }
    .centrado3{
        position: absolute;
        top: 46%;
        left: 85%;
        transform: translate(-50%, -50%);
        color: transparent;
        width: 33.3%;
        text-align:center;
        font-size: small;
    }
    .centrado3:hover{
        font-family: 'Courier New', Courier, monospace;
        color: #ffff;
    }
    /*dana*/
    /*
    .de2 img{
        width: 9em;
        height: 9em;
        margin-top: 70%;
        border-radius: 5%;
        margin-right: 56%;
        margin-left: -115%;
    }
    .centrado4{
        position: absolute;
        top: 73%;
        left: 15%;
        transform: translate(-50%, -50%);
        color: transparent;
        width: 33.3%;
        text-align:center;
        font-size: small;
    }
    .centrado4:hover{
        font-family: 'Courier New', Courier, monospace;
        color: #ffff;
    }
    /*rodri*/
    /*
    .iz3 img{
        width: 9em;
        height: 9em;
        margin-left: 27.5%;
        margin-top: -48%;
        border-radius: 2%;
        display: flex;
    }
    .centrado5{
        position: absolute;
        top: 73%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: transparent;
        width: 33.3%;
        text-align:center;
        font-size: small;
    }
    .centrado5:hover{
        font-family: 'Courier New', Courier, monospace;
        color: #ffff;
    }
    /*dylan*/
    /*
    .de3 img{
        width: 9em;
        height: 9em;
        display: flex;
        margin-top: -47%;
        margin-left: 110%;
        border-radius: 2%;
    }
    .centrado6{
        position: absolute;
        top: 73.5%;
        left: 85%;
        transform: translate(-50%, -50%);
        color: transparent;
        width: 33.3%;
        text-align:center;
        font-size: small;
    }
    .centrado6:hover{
        font-family: 'Courier New', Courier, monospace;
        color: #ffff;
    }
    .rebe h2{
        margin-top: -175%;
        margin-left: -64%;
        font-weight: 300;
    }
    .maxi h2{
        display: flex;
        margin-top: -175%;
        font-weight: 300;
        margin-left: 15%
    }
    .gonza h2{
        display: flex;
        margin-top: -175%;
        float: right;
        margin-right: -64%;
        font-weight: 300;
    }
    .dana h2{
        float: left;
        margin-left: -62%;
        margin-top: -57%;
        font-weight: 300;
    }
    .rodri h2{
        display: flex;
        margin-left: 23%;
        margin-top: 112%;
        font-weight: 300;
    }
    .dylan h2{
        display: flex;
        margin-top: -55%;
        float: right;
        margin-right: -55%;
        font-weight: 300;
    }
    @font-face{
        font-family: hola;
        src: url(Vogue.ttf);
    }
    h2{
        font-family: hola;
    }
    @font-face{
        font-family: portfolio;
        src: url(Vogue.ttf);
    }
    h1{
        font-family: portfolio;
        font-weight: 400;
        font-size: 300%;
    }
    .centrado1 p{
        font-family:'Times New Roman', Times, serif ;
    }
    .instagram{
        width: 7%;
        height: 7%;
        position: relative;
        color: transparent;
    }
    .facebook{
        width: 7%;
        height: 7%;
        position: relative;
    }
    .twitter{
        width: 7%;
        height: 7%;
        position: relative;
    }
}*/
@media(max-width:991px) {
    *{
        margin: 0;
        padding: 0;
        border: 0;
    }
    /* degradado*/
    body{
        background: linear-gradient(to top, #9A9DA2,#00001F);
        text-align: center;
        color: white;
        padding: 16rem 2rem;
        margin: 7rem;
    }
    .logo1 img{
        margin-top: -32%;
        margin-left: -50%;
        height: 7%;
        width: 6%;
        position: absolute;
    }
    h1{
        margin-top: -20%;
        margin-left: -3%;
    }
    img.grayscale {
        filter: gray; 
        -webkit-filter: grayscale(100%); 
        -webkit-transition: all 1s ease;
        transition: all 1s ease;
        backface-visibility: hidden;
        width: 100%;
        height: 100%;
        }
    img.grayscale:hover {
        filter: none;
        -webkit-filter: grayscale(0%); }
    /*rebe*/
    .iz1 img{
        width: 15em;
        height: 13em;
        float: left;
        margin-top: 3%;
        border-radius: 2%;
        margin-left: 5%;
    }
    .centrado{
        position: absolute;
        top: 45%;
        left: 18%;
        transform: translate(-50%, -50%);
        color: transparent;
        width: 33.3%;
        text-align:center;
    }
    .centrado:hover{
        font-family: 'Courier New', Courier, monospace;
        color: #ffff;
    }
    /*maxi*/
    .de1 img{
        width: 15em;
        height: 13em;
        margin-left: -22.5%;
        margin-top: 3%;
        border-radius: 2%;
    }
    .centrado2{
       position: absolute;
       top: 45%;
       left: 49%;
       transform: translate(-50%, -50%);
       color: transparent;
       width: 33.3%;
       text-align:center;
    }
    .centrado2:hover{
       font-family: 'Courier New', Courier, monospace;
       color: #ffff;
    }
    /*gonza*/
    .iz2 img{
        width: 15em;
        height: 13em;
        margin-left: 77%;
        margin-top: -13%;
        display: flex;
        border-radius: 2%;
    }
    .centrado3{
        position: absolute;
        top: 45%;
        left: 79%;
        transform: translate(-50%, -50%);
        color: transparent;
        width: 33.3%;
        text-align:center;
    }
    .centrado3:hover{
        font-family: 'Courier New', Courier, monospace;
        color: #ffff;
    }
    /*dana*/
    .de2 img{
        width: 15em;
        height: 13em;
        margin-top: 16%;
        border-radius: 2%;
        margin-right: 76%;
    }
    .centrado4{
        position: absolute;
        top: 95%;
        left: 17.5%;
        transform: translate(-50%, -50%);
        color: transparent;
        width: 33.3%;
        text-align:center;
    }
    .centrado4:hover{
        font-family: 'Courier New', Courier, monospace;
        color: #ffff;
    }
    /*rodri*/
    .iz3 img{
        width: 15em;
        height: 13em;
        margin-left: 41%;
        margin-top: -13%;
        border-radius: 2%;
        display: flex;
    }
    .centrado5{
        position: absolute;
        top: 95%;
        left: 48.5%;
        transform: translate(-50%, -50%);
        color: transparent;
        width: 33.3%;
        text-align:center;
    }
    .centrado5:hover{
        font-family: 'Courier New', Courier, monospace;
        color: #ffff;
    }
    /*dylan*/
    .de3 img{
        width: 15em;
        height: 13em;
        display: flex;
        margin-top: -13%;
        margin-left: 77%;
        border-radius: 2%;
    }
    .centrado6{
        position: absolute;
        top: 95%;
        left: 79%;
        transform: translate(-50%, -50%);
        color: transparent;
        width: 33.3%;
        text-align:center;
    }
    .centrado6:hover{
        font-family: 'Courier New', Courier, monospace;
        color: #ffff;
    }
    .rebe h2{
        float: left;
        margin-top: -43.5%;
        margin-left: 7%;
        font-weight: 300;
    }
    .maxi h2{
        display: flex;
        margin-left: 41.5%;
        margin-top: -43.5%;
        font-weight: 300;
    }
    .gonza h2{
        display: flex;
        margin-top: -43.5%;
        float: right;
        margin-right: 10%;
        font-weight: 300;
    }
    .dana h2{
        float: left;
        margin-left: 7%;
        margin-top: -14.5%;
        font-weight: 300;
    }
    .rodri h2{
        display: flex;
        margin-left: 43%;
        margin-top: 28%;
        font-weight: 300;
    }
    .dylan h2{
        display: flex;
        margin-top: -14.5%;
        float: right;
        margin-right: 11%;
        font-weight: 300;
    }
    @font-face{
        font-family: hola;
        src: url(Vogue.ttf);
    }
    h2{
        font-family: hola;
    }
    @font-face{
        font-family: portfolio;
        src: url(Vogue.ttf);
    }
    h1{
        font-family: portfolio;
        font-weight: 400;
        font-size: 300%;
    }
    .centrado1 p{
        font-family:'Times New Roman', Times, serif ;
    }
    .instagram{
        width: 7%;
        height: 7%;
        position: relative;
        color: transparent;
    }
    .facebook{
        width: 7%;
        height: 7%;
        position: relative;
    }
    .twitter{
        width: 7%;
        height: 7%;
        position: relative;
    }
}
