*{
    margin: 0;
    padding: 0;
    border: 0;

}
@font-face {
    font-family: hola;
    src: url(galeria/Vogue.ttf);
}
@font-face {
    font-family: chau;
    src: url(galeria/Buried\ Hopper.ttf);
}
@font-face {
    font-family:  body;
    src: url(imagenfooter/Montserrat-Regular.ttf);
}
@font-face {
    font-family: lfooter;
    src: url(imagenfooter/Belleza-Regular.ttf);
}
@font-face {
    font-family: Vintage;
    src: url(galeria/VintageRough.otf);
}
.regresar img{
    width: 40px;
    }
    .regresar{
        background-color: transparent;
        position: fixed;
        bottom: 20px;
        right: 20px;
        opacity: 0;
        transform: translateX(120px);
        transition: all .25s;
        cursor: pointer;
        z-index: 100;
    }
    .visible{
        opacity: 1;
        transform: translateX(0);
    }
/*-----------------Estilos Generales-------------------------*/
header{
    background-color: #2b2d9c;
    width: 100%;
    font-family: chau;
}
.loesc img{
    display: flex;
    position: absolute;
    width: 7em;
    top: 0.5em;
}
.titulo{
    padding-top: 1em;
    font-size: 60px;
    font-family: chau;
    color: #FFFFFF;
}

.nav{
    background-color: rgba(41, 88, 125);
    font-size: 10px;
    text-align: center;
    padding: 0.5em;
    font-family: chau;
    transition: all 0.2s ease;
    margin: 0; 
    position: absolute; 
    width: 100%; 
}

header .nav {
    margin-top: 10px;
    background-color: rgba(41, 88, 125);
    font-size: 10px;
    text-align: center;
    font-family: chau;
    transition: all 0.2s ease;
    margin: 0;
    padding: 0; 
}
.nav a{
    text-decoration: none;
    color: #FFF;
    font-family: chau;
}
.nav a:hover{
    background-color:  #2a6a7a;
    padding: 5px;
    font-family: chau;
}
.nav ul{
    list-style-type: none;
    font-family: chau;
    padding: 10px;
}
.nav li{
    display: inline;
    height: 15px;
    font-family:chau;
    margin: 0 15px;
}

h2 {
    font-size: 5em;
    font-family: lbody;
    font-weight: bold;
    font-style: italic;
    margin-left: 2em;
    margin-right: 2em;
}
mark {
    background-color: #8494ee;
}
.subtitulo {
    font-size: 3em;
    text-align: center;
    font-family:  body;
    font-style:inherit;
    color: #6676cc;

}


p{
    padding-bottom: 0.5em;
    text-align: justify;
    font-size: x-large;
    font-family: body;
    margin-left: 90px;
    margin-right: 90px;
}
li {
    font-size: x-large;
    font-family: body;
    margin-left: 90px;
    margin-right: 90px;
    padding-bottom: 0.5em;
    text-align: justify;
}
.subtituloFIN {
    padding: 1em;
    font-size: 3em;
    text-align: center;
    font-family: lbody;
    font-weight: bold;
    font-style: italic;
}

a.volerarriba {
    font-size: x-large;
    font-family: body;
    text-align: center;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 0.5em;
    border-radius: 5em; 
    border: 2px solid #000;
}
.container {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 0.4em;
   
}
.descargarpdf {
    font-size: x-large;
    font-family: body;
    text-align: center;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 0.5em;
 
}
a.descargarpdf {
    text-decoration: underline;
    color: #000;
}
/*----FOOTER----*/
footer{
    background-color: #93b2d2;
    color: #000000;
}
.logoimg img{
    position: relative;
    width: 8%;
    margin-left: 10em;
    margin-top: 4em;
}
.logotext{
    position: relative;
    font-family: lfooter;
    font-size: 20px;
    margin-left: 3em;
}
.titulofoo{
    font-family: lfooter;
    font-size: 25px;
    font-weight: bold;
}
.t1{
    position: relative;
    margin-top: -8.5em;
    margin-left: 28em;
}
.contactos img{
    position: relative;
    width: 2%;
    margin-left: 37em;
}
.contactos p{
    position: relative;
    font-family: lfooter;
    font-size: 17px;
    margin-left: 39em;
}
.mapatext p{
    margin-top: -2em;
}
.telimg img{
    margin-top: 2em;
}
.teltext p{
    margin-top: -2em;
}
.whatimg img{
    margin-top: 2em;
}
.whattext p{
    margin-top: -2em;
}
.correoimg img{
    margin-top: 2em;
}
.correotext1 p{
    margin-top: -2.5em;
}
.instaimg img{
    margin-top: 1.5em;
}
.instatext p{
    margin-top: -1.5em;
}
.t2{
    margin-top: -11em;
    margin-left: 45em;
}
.contador{
    position: relative;
    margin-left: 73em;
}
.copy{
    margin-top: 15em;
}
/*-----COMPUTADORA-----*/
@media (min-width:1300px)  { 
    header{
        background-color: #2b2d9c;
        width: 100%;
        height: 250px;;
    }
    .loesc img{
        display: flex;
        position: absolute;
        width: 7em;
        top: 0.5em;
    }
    .titulo{
        padding-top: 0.5em;
        font-size: 70px;
        font-family: chau;
        color: #FFFFFF;
    }
    
}

/*-----TABLET-----*/

@media (min-width:421px) and (max-width:1299px){
    header{
        background-color: #2b2d9c;
        width: 100%;
        height: 100px;;
     
    }
    .loesc img{
        display: flex;
        position: absolute;
        width: 4em;
        top: 0.5em;
    }
    .titulo{
        padding-top: 8.5px;
        font-size: 35px;
        font-family: chau;
        color: #FFFFFF;
        text-align: center;
    }
    .nav{
        background-color: rgba(41, 88, 125);
        font-size: 8px;
        text-align: center;
        padding: 0.5em;
        font-family: chau;
        transition: all 0.2s ease;
        margin: 0; 
        position: absolute; 
        width: 100%; 
    }
  
    h2 {
        font-size: 4em;
        margin-top: 1em;
       }
    body {
        overflow-x: hidden;
    }
    .subtitulo {
        font-size: 2.6em;
        text-align: center;
        font-family:  body;
        font-style:inherit;
        color: #6676cc;
    
    }
}

/*-----CELULAR----------------------*/

@media (max-width:420px) and (orientation:portrait) {
    header{
        background-color: #2b2d9c;
        width: 100%;
        height: 100px;;
    }
    .loesc img{
        display: flex;
        position: absolute;
        width: 3.5em;
        top: 0.5em;
    }
    .titulo{
        padding-top: 9px;
        font-size: 30px;
        font-family: chau;
        color: #FFFFFF;
        text-align: center;
    }
    .nav{
        background-color: rgba(41, 88, 125);
        font-size: 9px;
        text-align: center;
        padding: 0.5em;
        font-family: chau;
        transition: all 0.2s ease;
        margin: 0; 
        position: absolute; 
        width: 100%; 
    }
    
    header .nav {
        background-color: rgba(41, 88, 125);
        font-size: 10px;
        text-align: center;
        font-family: chau;
        transition: all 0.2s ease;
        margin: 0;
        padding: 0; 
    }
    .nav a{
        text-decoration: none;
        color: #FFF;
        font-family: chau;
        font-size: 20px;
    }
    .nav a:hover{
        background-color:  #2a6a7a;
        padding: 5px;
        font-family: chau;
    }
    .nav ul{
        list-style-type: none;
        font-family: chau;
        padding: 5px;
    }
    .nav li{
        display: inline-block;
        height: 15px;
        font-family:chau;
        margin: 0 14px;
        font-size: 9px;
    }
    .subtitulo {
        font-size: 2.2em;
        text-align: center;
        font-family:  body;
        font-style:inherit;
        color: #6676cc;
    
    }

    body {
        overflow-x: hidden;

    }
    p{
        padding-bottom: 0.5em;
        text-align:initial;
        font-size: larger;
        font-family: body;
        margin-left: 55px;
        margin-right: 55px;
    }
   li {
    text-align:initial;
    margin-left: 55px;
    margin-right: 55px;
    font-size: larger;
   }
   h2 {
    font-size: 3em;
   }
   .subtituloFIN {
    padding: 1em;
    font-size: 2em;
    text-align: center;
    font-family:Vintage;
    }
}
@media (min-width:751px) and (max-width:1279px) {  
}


