@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}
.contenedor-header{
    background: #F78921;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.contenedor-header header .nombre a{
    font-family: 'Righteous';
    font-size: 36px;
    color:white;
    text-decoration: none;
}
.contenedor-header header ul{
    display: flex;
    list-style: none;
}
.contenedor-header header nav ul li a{
    text-align: none;
    font-family: 'Righteous';
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.nav-responsive{
    font-family: 'Righteous';
    background-color: white;
    color:#fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
/* SECCION I N I C I O */
.inicio{
    background-image: url(Imagenes/c.jpg);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}
.inicio .contenido-banner{
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 500px;
    height: 400px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}
.inicio .contenido-banner img{
    margin-top: 10px;
    border: 3px solid white;
    display: block;
    width: 50%;
    margin: auto;
    border-radius: 100%;
}

.inicio .contenido-banner p{
    font-size: 15px;
    font-weight: normal;
}
.inicio .contenido-banner .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 30px 5px;
    font-size: 20px;
    transition: .3s;
}
.inicio .contenido-banner .redes a:hover{
    background-color: rgba(0, 0, 0, 0.5);;
}

.sobrenosotros{
    background-color: #276691;
    color: #fff;
    padding: 50px 20px;
}
.sobrenosotros .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.sobrenosotros h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
    text-decoration:underline #F78921;
}


.novedades{
    background-color: #CC2128;
    color: #fff;
    padding: 100px 50px;
}
.novedades .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.novedades h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
    text-decoration: underline #276691;
}
.novedades h5{
    font-size: 17px;
}
#tar{
    font-size: 13px;
    font-weight: normal;
}
.container{
    width: 100%;
    display: flex;
    max-width: 1110;

}
#CardI{
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 7px;
    text-align: center;



}
.galeria{
    background-color: #146E39;
    color: #fff;
    padding: 50px 20px;
}
.galeria .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.galeria .container{
    display: flex;
    justify-content: center;
}
.galeria h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
    text-decoration:underline #CC2128;
}
#botong {
    background-color: #CC2128;
    font-family: 'Righteous';
    color: #fff;
    border-radius: 10px; 
    padding: 10px 20px; 
}
#CardIG{
    width: 100%;
    margin: 10px;
    border-radius: 6px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 7px;
    text-align: center;



}

   


  
  
  